##### STA 141B Data & Web Technologies for Data Analysis

## Lecture 1, 1/6/26, Refresher on Python

## Today's topics

<style>
    font-size: 40x;
</style>

- Introduction
- Course Organization
- Refresher on Python

## Data sets
- dogs_full.csv
- fluidmilk.xlsx

## Discussion

The discussion sections take place after Thursday's lecture, 3:20 - 4:00 PM, at the Olson Hall 251.

This week's topics are:
- IO with files
- Context manager (the `with` command)

## Course Organization

This course covers topics of data acquisition and processing. 
We will learn how to automatically retrieve information from publicly available sources on the internet. 
This includes processing these data so that they can then be studied statistically. 

The course consists of the following parts: 

1. Computational workflow (Memory handling/concurrency)
2. Databases
3. Data acquisition / web scraping
4. Visualisation
5. Data processing (Natural Language Processing)

The final grade is determined by 
- homework assignments (30%),
- presentation (15%),
- participation (10%),
- project due March 15 (45%).

For comprehensive and updated information about the course, please consult [Canvas](https://canvas.ucdavis.edu/courses/868132).  

The project will be collaborative work with three to four group members. You will use the methods learn in this class to procure a data set, preferrably from multiple sources, and process it to make it accessible for further investigation. This involves displaying its properties by visual means, so that statistical hypotheses can be formed.

All material of this course will be made available online on Piazza. Use [Piazza](https://piazza.com/class/mjuy7tlp3m73rz#), for any inquiries regarding organization, homework or lectures. We will monitor this site M-F during business hours.

Office hours: 
* Nicolai Amann (he/him): Thursday 12:45 - 1:45 PM, PDSB 0004 - ndamann@ucdavis.edu
* Yanhao Jin (he/him): Wednesday, 2:00 - 3:00 PM, TA office in MSB, yahjin@ucdavis.edu

### Syllabus

More details can be found in the [Syllabus](../syllabus/syllabus220.html).

### Ethics

This is a programming class. Using assistance is part of programming and is encouraged. This can be AI based, or from online sources (e.g., [stackoverflow](https://stackoverflow.com/questions)).

However, you will be graded by your proficiency in coding. In all assignments, make sure that you display your own contribution. Submitting AI generated code, answers from online sources, or even classmates' solutions will not be enough to pass the course. Furthermore, if you pass off someone else's work as your own, then you are engaging in academic misconduct.

### Usage of AI

The use of AI for code snippets is allowed. However, using AI to solve complete tasks or write a whole homework/final project is forbidden.

## Refresher on Python

### NumPy
NumPy is a Python package that provides tools for numerical computing (the name stands for "Numerical Python"). If you use Anaconda, NumPy is already installed.

NumPy is documented [here][link4].

[link4]: https://numpy.org/doc/stable/

In [ ]:
!pip install numpy

In [ ]:
import numpy as np # standard naming convention for numpy

Take care: do not use np as a variable name!

In [ ]:
np = 3
print(np)

In [ ]:
np.array([1,2,3])

In [ ]:
del np

In [ ]:
import numpy as np # standard naming convention for numpy

NumPy's core feature is the n-dimensional array of <kbd>numpy.ndarray</kbd> object type. NumPy arrays are the basis for almost all of Python's scientific computing packages. They are the Python equivalent of R's built-in vectors.

NumPy arrays use reference semantics, just as <kbd>list</kbd> type objects.

#### Creating NumPy Arrays

You can create NumPy arrays from lists:

In [ ]:
a = np.array([1,2,3])
a

In [ ]:
type(a)

A numpy array is a grid of values, all of the __same type__ and is indexed by a tuple of nonnegative integers. A list is the Python equivalent of an array, but is resizeable and can contain elements of different types.

In [ ]:
np.array([1, 2.0, 'horse']) # recasts all entries to char

In [ ]:
np.array([1,2.0,3]) # recasts all entries to float

In [ ]:
x = np.array([1,2,3])
y = np.array([4.1, 5.2, 6.3])
x + y

In [ ]:
z = [2, 3, 4] #list!
x + z # list + array = array

In [ ]:
x + 4

In [ ]:
x + np.array([2,3, 4, 5])

You can create multidimensional arrays, like matrices, from nested lists.

In [ ]:
m = np.array([[1, 2, 3], [4, 5, 6]])
m

In [ ]:
k = np.array([1, 2, 3, 4, 5, 6])
k

In [ ]:
type(m)

In [ ]:
np.shape(m)

In [ ]:
np.size(m)

In [ ]:
len(m) # consists of two rows!

`numpy.matrix` is a subclass of `numpy.ndarray`. It inherits the laters attributes and is restricted to two dimensions. There is no N-dimensional matrix in numpy, only N-dimensional array: see [this](https://numpy.org/doc/stable/reference/arrays.ndarray.html).

In [ ]:
m = np.matrix([[1, 2, 3], [4, 5, 6]])
m

In [ ]:
type(m)

In [ ]:
np.shape(m)

NumPy also provides several helper functions to create arrays. See the [documentation](https://numpy.org/doc/stable/user/basics.creation.html) for a full list.

In [ ]:
np.arange(0, 10, 2)

In [ ]:
np.array(range(0, 10, 2))

In [ ]:
np.ones(10)

In [ ]:
np.zeros(10)

#### Matrices in Numpy

In [ ]:
np.matrix([np.zeros(10) for _ in range(3)]) # NA

In [ ]:
# alternatively:
np.zeros((3,10))

In [ ]:
np.identity(3)

In [ ]:
np.eye(3) # alternatively

In [ ]:
np.empty(3) # the values will be filled arbitrarily from the memory 
# only use them as placeholder, not as random variable

#### Inspecting Arrays

The array attributes `.shape` and `.size` contain information about the structure of the array. A plethora of array methods are also provided.

In [ ]:
x

In [ ]:
np.size(x)

In [ ]:
x.size # like R's length()

In [ ]:
x.shape # returns a tuple!

In [ ]:
if x.shape > 2:
    print("larger than 2")

In [ ]:
if x.shape[0] > 2:
    print("larger than 2")

In [ ]:
m.shape

In [ ]:
m.size

In [ ]:
len(x) # not as neat, but gives same result

In [ ]:
x.sum()

In [ ]:
sum(x) # not as neat, but gives same result

In [ ]:
type(x)

The array attribute `.dtype` contains the data type of the array's elements.

In [ ]:
y = np.array([1.1, 2, 3])

In [ ]:
y.dtype

In [ ]:
x

In [ ]:
x.dtype

In [ ]:
m.dtype # N
# it's about the elements, not the array itself

In [ ]:
# in contrast:
type(m)
# so dtype gives the type of the elements (_d_ata), while type gives the type of the whole object

In [ ]:
x

In [ ]:
y

In [ ]:
x.dtype

In [ ]:
y.dtype

In [ ]:
(x + y).dtype

See [here][link5] or [here][link6] for a complete list of Numpy data types.

[link5]: https://docs.scipy.org/doc/numpy-1.15.0/user/basics.types.html
[link6]: https://jakevdp.github.io/PythonDataScienceHandbook/02.01-understanding-data-types.html#NumPy-Standard-Data-Types

 The pythonic role of packages is to not only contribute one class (e.g., `ndarray`), but more functions related to the packages role. This is why a variety of additional functions are provided as well.

In [ ]:
np.sin(x)

Keep in mind that this is not the same as the `math.sin` function we have imported above. Indeed, this function throws an error:

In [ ]:
# import math
import math
math.sin(x)

In [ ]:
# of course, we could do the following
np.array([math.sin(el) for el in x])

In [ ]:
# compare this to the short command
np.sin(x)

#### Indexing

You can subset NumPy arrays with indexes or Boolean arrays. Again, this is similar to R.

But be careful! Python uses `and` and `or` to combine conditions, but NumPy uses `&` and `|`!

In [ ]:
x

In [ ]:
1.dtype

In [ ]:
x[0].dtype

In [ ]:
x[1]

In [ ]:
x == x[0:]

In [ ]:
if x == x:
    print("something")

In [ ]:
# N this is done elementwise!
x == x

In [ ]:
# N
# in contrast:
x is x

In [ ]:
m

In [ ]:
m.shape

In [ ]:
m[1,0]

In [ ]:
x

In [ ]:
x[np.array([False, True, False])]

In [ ]:
x[x % 2 == 0] # true or false

Note that although only one element is selected, a one-dimensional array is returned!

In multidimensional arrays, separate indexes for each dimension with commas. The bare slice `:` selects everything in one dimension, just as we have seen in the last lectures.

In [ ]:
m

In [ ]:
m[:, 0]

In [ ]:
m[1, :]

In [ ]:
m[:, 0:2]

In [ ]:
m[0,:]

In contrast to R, every dimension needs to be specified.

So the following command throws an error, since the first dimension is not specified:

In [ ]:
# N
m[,:] # wrong

In [ ]:
# N
m[:,:] # better

Matrix algebra can performed using `@`.

In [ ]:
m

In [ ]:
print(m.shape) # N
print(np.transpose(m).shape)

In [ ]:
m.T # shorthand for transposing

In [ ]:
m.transpose() # or, alternatively use the transpose method

In [ ]:
# alternatively:
m.transpose().shape

Q: Which dimension has the matrix m'm?

In [ ]:
(np.transpose(m) @ m ).shape

In [ ]:
m @ np.transpose(np.matrix([[1, 2, 3]]))

In [ ]:
np.matrix([[1, 2, 3]])

So what is NumPy good for?

NumPy also provides functions for:
- Linear algebra (multiplication, transposition, decomposition, ...)
- Random number generation
- Elementary statistics
- Signal processing
- And more...

There isn't time to cover all of these in detail in lecture, but you can learn more from the documentation and references.

In [ ]:
import numpy as np
x = np.array([1,2,3])
x.dtype

In [ ]:
x[1] = 5.3
print(x)

In [ ]:
x[1] = 5.9
print(x)

In [ ]:
y = x.astype(float)
y[1] = 5.3
print(y)

### Pandas

Pandas is a Python package that provides tools for manipulating tabular data. The name "pandas" is short for "**PAN**el **DA**ta", an econometrics term. Since we're using Anaconda, Pandas is already installed.

Pandas is documented [here](http://pandas.pydata.org/pandas-docs/stable/).

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

#### Series

A Pandas Series a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). It is a generalization of a NumPy array. In addition to elements, every series includes an index.

In contrast to the numpy array, a pandas series MAY consist of <b>different data types.</b>

See [here](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes) for an overview of data types.

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,2,"a"])
print(x)

In [ ]:
x = pd.Series([1, 2, 3])
type(x)

In [ ]:
x

In [ ]:
x.dtype

In [ ]:
x.iloc[2] = "a"

In [ ]:
print(x)

In [ ]:
x.rename(index={1: 'one'}, inplace=False)

In [ ]:
x

In [ ]:
y

In [ ]:
x

In [ ]:
y = pd.Series(["a", "b", "c"], index = [3,2,1])
print(y)

In [ ]:
y[1]

In [ ]:
y.loc[1]

In [ ]:
x = pd.Series([1,2,3], index = ["a", "b", "c"])
x

A series can be indexed in all of the same ways as a NumPy array, but also by index values. This means a series can also be used like an ordered dictionary (although its keys are not unique).

In [ ]:
x[0]

In [ ]:
x[1:3]

In [ ]:
x["a"]

In [ ]:
x["a":"b"]

In [ ]:
x["b":"a"]

In [ ]:
x = pd.Series([1,2,3], index = ["c", "b", "a"])
x

In [ ]:
x["a":"b"]

In [ ]:
x["c":"b"]

In [ ]:
x = pd.Series([1,2,3], index = ["c", "a", "b"])
x["c":"b"]

#### Uniqueness of indices
Note that indices need not be unique. However, if there are more indices, that could cause problems when selecting observations.

In [ ]:
x = pd.Series([1,2,3], index = ["c", "a", "a"])
x["c":"a"]

In particular, you can get error messages if it is unclear what kind of slicing you were referring to:

In [ ]:
x = pd.Series([1,2,3,4], index = ["c", "a", "b", "a"])
print(x)

In [ ]:
x["c":"a"]

A series may have integer indices as well.

In [ ]:
x = pd.Series([1, 2, 3], index = [10, 12, 14])
x

For an indexing series (and as we'll see later, also data frames):

* `[ ]` is by position, name, or condition. **Exception:** for an integer index it's by name or condition only.
* `.iloc[ ]` is by position
* `.loc[ ]` is by name or condition

In [ ]:
x.iloc[0] # first element of x

In [ ]:
x.loc[10]

In [ ]:
y = pd.Series([1,2,3])
print(y)
z = y[1:3]
z

In [ ]:
z[1] # and not 3

In [ ]:
z.iloc[1]

In [ ]:
z.loc[1]

In [ ]:
newy = pd.Series(["a","b","c"], index = [1,2,3])
print(newy)

In [ ]:
newy[1] == "b" # it refers to the element with name "1"

In [ ]:
newy = pd.Series([1,2,3,4], index = [1, "1", 2, 3])

In [ ]:
print(newy) # it looks as if the indices were not unique!

In [ ]:
newy[1]

In [ ]:
newy["1"]

In [ ]:
print(newy.index) # datatype is an object because it contains both strings and integers

In [ ]:
# in contrast
newy = pd.Series([1,2,3], index = [1,1,2])

In [ ]:
print(newy)

In [ ]:
newy[1]

In [ ]:
newy["1"] # gives a key error!

In [ ]:
# better:
newy.get("1")

In [ ]:
# or provide a default value
print(newy.get("1", "not found"))
newy.get("1") is None

In [ ]:
z = pd.Series([1, 2, 3, 4], index = [3j, 2j, 1j, -1j])
z

In [ ]:
z[3j]

In [ ]:
z.loc[-1j]

In [ ]:
z.index

In case you want to get the corresponding iloc location for an index name, you can use the `get_indexer` method.

In [ ]:
z.index.get_indexer([1j, 2j])

In [ ]:
# don't mix this up: 
# if you want to get all keys for a specific value, use
z.index[z == 2]

In [ ]:
print(z)

In [ ]:
print(z.isin([2,3]))

In [ ]:
z.index[z.isin([2,3])]

#### Data Frames

A data frame is a table or a two-dimensional array-like structure in which each column contains values of one variable and each row contains one set of values from each column.

It represents tabular data as a collection of Series.

In [ ]:
df = pd.DataFrame({"x": [1, 2, 3], "y": ["a", "b", "c"]})
df

In [ ]:
df.T #transpose the dataframe

In [ ]:
df

Data frames support the similar indexing methods as series. However, for indexing with `[ ]`,

* Scalar values get columns by name
* Conditions or slices get rows

Reminder: typically, each line corresponds to an observation, while each column corresponds to one feature. For example, every line could be a student and the first column contains the GPA average.

A condition would be to filter for all students having a GPA above 3.5.

In contrast, if we want to get a summary of the GPA average column, we would just select a <b>single</b> column from the data frame by using a scalar value.

In [ ]:
df["y"]

In [ ]:
df['x']

In [ ]:
df[0:1]

In [ ]:
print(df)

In [ ]:
df.iloc[0,1]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0:2]

In [ ]:
df

In [ ]:
df["x"]

In [ ]:
df.loc[0:1,"x"]

In [ ]:
df[df["x"] > 2] # more convenient

In [ ]:
df2 = df.loc[df['x']>2,:]  # more principled (?)

In [ ]:
print(df2)

Since we are subsetting a DataFrame, a DataFrame is returned.

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
type(df)

In [ ]:
df.dtypes

More indexing and selection data using pandas can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-slicing-with-labels)

Colummns that do not have a unique data type are called object. <b>Beware:</b> also strings are of data type object.

In [ ]:
dfnew = pd.DataFrame({"x": [1, "2"], "y": [3,4]})

In [ ]:
print(dfnew)

In [ ]:
dfnew.dtypes

In [ ]:
dfnew = pd.DataFrame({"x": ["1", "2"], "y": [3,4]})

In [ ]:
dfnew.dtypes

#### Missing Data

Pandas represents missing data with `NaN` and `None`, but these values do not exclusively mean missing data. For instance, `NaN` stands for "Not a Number" and is also the result of undefined computations. Pay attention to your data and code to determine whether values are missing or have some other meaning.

You can create `NaN` values with NumPy.

In [ ]:
import numpy as np 
np.nan

In [ ]:
df = pd.DataFrame({"x": [1, np.nan, 2], "y": np.arange(3), "z": ["x", "y", None]})
df

Use the `.isna()` or `.isnull()` methods to detect missing values.

In [ ]:
df.isna()

In [ ]:
~df.isnull()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df

In [ ]:
(~df.isna()).sum().sum()

In [ ]:
df.isna().sum().sum() # how many are not missing

In [ ]:
df.sum().sum()

Lets deal with this warning.

In [ ]:
df.sum(numeric_only=True).sum()

#### Data Alignment

Pandas supports vectorized operations, but elements are <b>automatically</b> aligned by index. **Beware!!** This is a major difference compared to R.

In [ ]:
x = pd.Series([1, 2, 3], index = ["a", "b", "c"])
y = pd.Series([1, 2, 3], index = ["b", "a", "c"])
x

In [ ]:
y

In [ ]:
x * y

You can use the `.reset_index()` method to reset the indexes on a series or data frame. Watch out: The method returns a new DataFrame, but does not overwrite the old object.

In [ ]:
x.reset_index()# keep old index as a new column

In [ ]:
df2 = df.reset_index()

In [ ]:
df # does not overwrite the old object!

In [ ]:
df2

In [ ]:
# df2.fillna('filler')

In [ ]:
y.reset_index(drop = True) # throw away the old index

#### Reading Data

Pandas provides functions for reading (and writing) a variety of common formats. Most of their names begin with `read_`. For instance, we can read the dogs data from a CSV file:

In [ ]:
dogs = pd.read_csv("./../data/dogs_full.csv") # change this file path accordingly

In [ ]:
dogs.head()

#### Inspecting Data

Series and data frames provide many of the same methods and attributes as NumPy arrays.

For a data frame, the `.dtypes` attribute gives the column types.

The type "object" means some non-numeric Python object, often a string.

In [ ]:
dogs.dtypes

There are also several methods for quickly summarizing data.

In [ ]:
dogs.describe()

First, get the string columns (`object`), then describe

In [ ]:
dogs.select_dtypes(include = ["object"]).describe()

In [ ]:
dogs.select_dtypes(include = ["int64"]).describe()

#### Aggregation

Pandas also provides several methods for aggregating data, such as `.mean()`, `.median()`, `.std()`, and `.value_counts()`. They ignore missing values by default.

In [ ]:
dogs.median(numeric_only=True)

In [ ]:
dogs["weight"].median() # N

In [ ]:
dogs["breed"].value_counts() # like R's table() with 1 arg

Wiki link to [Xoloitzcuintli](https://en.wikipedia.org/wiki/Xoloitzcuintle).

For counting one group against another (crosstabulating), use `pd.crosstab()`.

In [ ]:
pd.crosstab(dogs["group"], dogs["kids"]) # like R's table() with 2+ arg

#### Applying Functions

You can also use Pandas to apply your own aggregation functions to columns or rows.

* `.apply()` applies a function column-by-column or row-by-row.
* `.applymap()` applies a function element-by-element.

This is another way to vectorizing code, but only works for DataFrame.

In [ ]:
def spread(x):
    '''Returns spread. Input is a single column (or row)'''
    return x.max() - x.min()
    
dogs.select_dtypes(include = ["float64", "int64"]).apply(spread)

In contrast, we can also apply the function rowwise.

In [ ]:
dogs.select_dtypes(include = ["float64", "int64"]).apply(spread, axis=1)

Coming up with a better example:

In [ ]:
def annual_costs(d):
    return(d["lifetime_cost"]/d["longevity"])

ac = dogs.apply(annual_costs, axis=1)

In [ ]:
print(ac)

In [ ]:
ac.isnull().sum()

In [ ]:
dogs["longevity"].isnull().sum()

In [ ]:
sum(dogs["longevity"] == 0)

In [ ]:
dogs["lifetime_cost"].isnull().sum()

Check whether lifetime costs are price + food_costs * age

In [ ]:
temp = (dogs["lifetime_cost"]-dogs["price"])/(dogs["food_cost"]*dogs["longevity"])

In [ ]:
temp.describe()

So the lifetime costs are not just price + food_costs*age

#### Grouping

Use the `.groupby()` method to group data before computing aggregate statistics.

In [ ]:
dogs.head()

In [ ]:
dogs.groupby("group")

In [ ]:
dogs.groupby("group").mean(numeric_only=True)

In [ ]:
dogs.groupby("group").mean(numeric_only=True).reset_index()

By default, the groups become the index. You can keep them as regular columns by setting `as_index = False` when grouping.

In [ ]:
dogs.groupby("group", as_index = False).mean(numeric_only=True)

You can group by multiple columns.

In [ ]:
dogs.groupby(["group", "kids"]).mean(numeric_only=True)

On groups, the `.apply()` method computes group-by-group. It is the most general form of two other methods:

* `.agg()`, which applies a function to each group to compute summary statistics
* `.transform()`, which applies a function to each group to compute transformations (such as standardization)

### Example

#### Top10 universities

In [5]:
tbl = pd.read_csv('./../data/nobel_prices.csv')

In [6]:
tmp = tbl.groupby(['Affiliation']).count().sort_values('Laureate', ascending=False).head(10)
top10_uni = list(tmp.index)

In [7]:
tmp

,Unnamed: 0,Laureate,Discipline,Year of award
Affiliation,,,,
Harvard University,30,30,30,30
Massachusetts Institute of Technology,25,25,25,25
University of Chicago,21,21,21,21
University of Cambridge,20,20,20,20
Stanford University,20,20,20,20
"University of California, Berkeley",20,20,20,20
California Institute of Technology,20,20,20,20
Columbia University,18,18,18,18
Princeton University,18,18,18,18
Rockefeller University,17,17,17,17

In [8]:
top10_uni

['Harvard University',
 'Massachusetts Institute of Technology',
 'University of Chicago',
 'University of Cambridge',
 'Stanford University',
 'University of California, Berkeley',
 'California Institute of Technology',
 'Columbia University',
 'Princeton University',
 'Rockefeller University']

#### Disciplines of the top10 universities

In [9]:
tidy_table = tbl[tbl['Affiliation'].isin(top10_uni)].groupby(['Affiliation','Discipline']).count().reset_index()
tidy_table

,Affiliation,Discipline,Unnamed: 0,Laureate,Year of award
0,California Institute of Technology,Chemistry,5,5,5
1,California Institute of Technology,Peace,1,1,1
2,California Institute of Technology,Physics,9,9,9
3,California Institute of Technology,Physiology or Medicine,5,5,5
4,Columbia University,Chemistry,4,4,4
5,Columbia University,Economics,4,4,4
6,Columbia University,Peace,1,1,1
7,Columbia University,Physics,6,6,6
8,Columbia University,Physiology or Medicine,3,3,3
9,Harvard University,Chemistry,7,7,7
10,Harvard University,Economics,7,7,7
11,Harvard University,Peace,1,1,1
12,Harvard University,Physics,9,9,9
13,Harvard University,Physiology or Medicine,6,6,6
14,Massachusetts Institute of Technology,Chemistry,3,3,3
15,Massachusetts Institute of Technology,Economics,10,10,10
16,Massachusetts Institute of Technology,Physics,7,7,7
17,Massachusetts Institute of Technology,Physiology or Medicine,5,5,5
18,Princeton University,Chemistry,1,1,1
19,Princeton University,Economics,6,6,6
20,Princeton University,Physics,10,10,10
21,Princeton University,Physiology or Medicine,1,1,1
22,Rockefeller University,Chemistry,5,5,5
23,Rockefeller University,Physiology or Medicine,12,12,12
24,Stanford University,Chemistry,5,5,5
25,Stanford University,Economics,5,5,5
26,Stanford University,Physics,9,9,9
27,Stanford University,Physiology or Medicine,1,1,1
28,"University of California, Berkeley",Chemistry,7,7,7
29,"University of California, Berkeley",Economics,6,6,6
30,"University of California, Berkeley",Physics,7,7,7
31,University of Cambridge,Chemistry,4,4,4
32,University of Cambridge,Economics,4,4,4
33,University of Cambridge,Physics,8,8,8
34,University of Cambridge,Physiology or Medicine,4,4,4
35,University of Chicago,Chemistry,1,1,1
36,University of Chicago,Economics,15,15,15
37,University of Chicago,Physics,4,4,4
38,University of Chicago,Physiology or Medicine,1,1,1

In [10]:
wide_table = tidy_table.pivot(index='Affiliation', columns='Discipline', values='Laureate')
wide_table

Discipline,Chemistry,Economics,Peace,Physics,Physiology or Medicine
Affiliation,,,,,
California Institute of Technology,5.0,NaN,1.0,9.0,5.0
Columbia University,4.0,4.0,1.0,6.0,3.0
Harvard University,7.0,7.0,1.0,9.0,6.0
Massachusetts Institute of Technology,3.0,10.0,NaN,7.0,5.0
Princeton University,1.0,6.0,NaN,10.0,1.0
Rockefeller University,5.0,NaN,NaN,NaN,12.0
Stanford University,5.0,5.0,NaN,9.0,1.0
"University of California, Berkeley",7.0,6.0,NaN,7.0,NaN
University of Cambridge,4.0,4.0,NaN,8.0,4.0
University of Chicago,1.0,15.0,NaN,4.0,1.0

In [11]:
wide_table = wide_table.fillna(0)
wide_table

Discipline,Chemistry,Economics,Peace,Physics,Physiology or Medicine
Affiliation,,,,,
California Institute of Technology,5.0,0.0,1.0,9.0,5.0
Columbia University,4.0,4.0,1.0,6.0,3.0
Harvard University,7.0,7.0,1.0,9.0,6.0
Massachusetts Institute of Technology,3.0,10.0,0.0,7.0,5.0
Princeton University,1.0,6.0,0.0,10.0,1.0
Rockefeller University,5.0,0.0,0.0,0.0,12.0
Stanford University,5.0,5.0,0.0,9.0,1.0
"University of California, Berkeley",7.0,6.0,0.0,7.0,0.0
University of Cambridge,4.0,4.0,0.0,8.0,4.0
University of Chicago,1.0,15.0,0.0,4.0,1.0

In [12]:
wide_table = wide_table.astype(int)
wide_table

Discipline,Chemistry,Economics,Peace,Physics,Physiology or Medicine
Affiliation,,,,,
California Institute of Technology,5,0,1,9,5
Columbia University,4,4,1,6,3
Harvard University,7,7,1,9,6
Massachusetts Institute of Technology,3,10,0,7,5
Princeton University,1,6,0,10,1
Rockefeller University,5,0,0,0,12
Stanford University,5,5,0,9,1
"University of California, Berkeley",7,6,0,7,0
University of Cambridge,4,4,0,8,4
University of Chicago,1,15,0,4,1

##### Multiple nobel prices

In [13]:
tmp = tbl.groupby(['Laureate']).count().sort_values(['Discipline', 'Laureate'], ascending = False)
tmp

                      Unnamed: 0  Discipline  Year of award  Affiliation
Laureate
Marie Curie                    2           2              2            1
Linus Pauling                  2           2              2            2
Karl Barry Sharpless           2           2              2            2
John Bardeen                   2           2              2            2
Frederick Sanger               2           2              2            2
...                          ...         ...            ...          ...
Abhijit Banerjee               1           1              1            1
Abdus Salam                    1           1              1            1
Aaron Klug                     1           1              1            1
Aaron Ciechanover              1           1              1            1
Aage Bohr                      1           1              1            1

[746 rows x 4 columns]

In [14]:
multinobel = list(tmp[tmp['Discipline']>1].index)

In [15]:
multinobel

['Marie Curie',
 'Linus Pauling',
 'Karl Barry Sharpless',
 'John Bardeen',
 'Frederick Sanger']

In [16]:
tbl[tbl['Laureate'].isin(multinobel)].sort_values(['Year of award'])

,Unnamed: 0,Laureate,Discipline,Year of award,Affiliation
465,465,Marie Curie,Physics,1903,NaN
464,464,Marie Curie,Chemistry,1911,Sorbonne University
447,447,Linus Pauling,Chemistry,1954,California Institute of Technology
373,373,John Bardeen,Physics,1956,University of Illinois Urbana-Champaign
218,218,Frederick Sanger,Chemistry,1958,University of Cambridge
448,448,Linus Pauling,Peace,1962,California Institute of Technology
374,374,John Bardeen,Physics,1972,University of Illinois Urbana-Champaign
219,219,Frederick Sanger,Chemistry,1980,MRC Laboratory of Molecular Biology
415,415,Karl Barry Sharpless,Chemistry,2001,Scripps Research
416,416,Karl Barry Sharpless,Chemistry,2022,Scripps Research

### Tidying a Dataset

Do Americans prefer low fat milk over whole milk?

The USDA publishes data about dairy production. We can answer the question with the [Milk Sales Dataset](https://www.ers.usda.gov/webdocs/DataFiles/48685/fluidmilk.xlsx?v=5010.6).

Many of Python's visualization packages expect [tidy data](https://vita.had.co.nz/papers/tidy-data.pdf), which means:

1. Each feature must have its own column.
2. Each observation must have its own row.
3. Each value must have its own cell.

Let's tidy up the Milk Sales Dataset so we can make a line plot that shows how milk sales have changed over time.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
milk = pd.read_excel("../data/fluidmilk.xlsx")
milk.head()

In [ ]:
milk = pd.read_excel("../data/fluidmilk.xlsx", skiprows = 1)
milk.head()

In [ ]:
milk.columns

In [ ]:
milk.index

In [ ]:
milk.columns = milk.columns.str.replace('\n', '')
milk.head()

In [ ]:
milk.columns

In [ ]:
milk = milk.rename(columns=lambda x: x.strip(' 012')) # getting rid of the 0,1 and 2
milk.head()

In [ ]:
milk = milk.rename(columns = {'Unnamed:': 'Year'})
milk.head()

In [ ]:
milk.columns.values[[2,3,5,6]] = np.array(['Reduced', 'Low', 
                                            'Flavored Whole', 'Flavored Other'])

In [ ]:
milk.head()

In [ ]:
milk.dtypes

In [ ]:
milk = milk.set_index('Year')

In [ ]:
milk.head()

In [ ]:
milk.tail()

In [ ]:
milk = milk[:-4]

Summarize everything:

In [ ]:
def get_milk():
    milk = pd.read_excel("../data/fluidmilk.xlsx", skiprows = 1)
    milk.columns = milk.columns.str.replace('\n', '')
    milk = milk.rename(columns=lambda df: df.strip(' 12'))
    milk.columns.values[[0,2,3,5,6]] = np.array(['Year', 'Reduced', 'Low', 
                                                 'Flavored Whole', 'Flavored Other'])
    milk = milk[:-4] # get rid of the last four rows
    milk = milk.set_index("Year")
    return(milk)

In [ ]:
milk = get_milk()
milk.head()

In [ ]:
milk = milk.stack()
milk

In [ ]:
milk.index

In [ ]:
milk = milk.reset_index()
milk

In [ ]:
milk.columns.values[[False, True, True]] = np.array(["Kind", "Sales"])

In [ ]:
milk.head()

In [ ]:
milk.tail()

In [ ]:
!pip install plotnine

In [ ]:
import plotnine as p9

p9.__version__

In [ ]:
(
    p9.ggplot(milk, p9.aes(x = "Year", y = "Sales", color = "Kind")) 
    + p9.geom_line()
    + p9.labs(title = "US Milk Sales", y = "Sales (millions of pounds)")
)

In [ ]:
milk = get_milk()

In [ ]:
milk["Whole"]/milk["Total"]

In [ ]:
def calc_share(x):
    return 100*x/x["Total"]

milk_share = milk.apply(calc_share, axis=1)

In [ ]:
milk_share.head()

In [ ]:
milk_share = milk_share.drop("Total", axis=1)
milk_share.head()

In [ ]:
milk_share = milk_share.stack()
milk_share = milk_share.reset_index()

In [ ]:
milk_share

In [ ]:
milk_share.columns.values[[False, True, True]] = np.array(["Kind", "Sales"])

In [ ]:
(
    p9.ggplot(milk_share, p9.aes(x = "Year", y = "Sales", color = "Kind")) 
    + p9.geom_line()
    + p9.labs(title = "US milk market share", y = "Share in %")
)