# STA 220 Data & Web Technologies for Data Analysis

### Lecture 7, 01/29/26, Scraping

### Today's topics

 - Scraping Tables with `pandas`
 - HTML
 - XML
 - Parser
 - Extracting Elements

### Ressources

* [`requests` documentation](http://docs.python-requests.org/en/master/)
* [`requests-html` documentation](https://html.python-requests.org/)
* [W3 Schools](https://www.w3schools.com/html/default.asp)
* [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
* [XPath Diner](http://www.topswagcode.com/xpath/) - an interactive XPath tutorial
* [CSS Diner](https://flukeout.github.io/) - an interactive CSS Selector tutorial

### Scraping Tables with `pandas`

For data in a `table` element, we can use __Pandas__ instead of writing a scraper. 

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [US cities by area][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

In [1]:
import pandas as pd
import requests

In [2]:
# not working, since no header is provided
tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area")

HTTPError: HTTP Error 403: Forbidden

https://www.whatismybrowser.com/detect/what-is-my-user-agent/

In [3]:
# N
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area"

# Define the User-Agent header
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
}
tabs = pd.read_html(url, storage_options=headers)
tabs

[                    Population tables of U.S. cities
 0  The skyline of New York City, the most populou...
 1                                             Cities
 2  PopulationAreaDensityEthnic identityForeign-bo...
 3                                        Urban areas
 4             Populous cities and metropolitan areas
 5                                 Metropolitan areas
 6  184 combined statistical areas935 core-based s...
 7                                        Megaregions
 8  Related population listsNorth American metro a...
 9                                                vte,
             City  ST Land area       Water area         Total area         \
             City  ST     (mi2) (km2)      (mi2)   (km2)      (mi2)  (km2)
 0          Sitka  AK    2870.2  7434     1904.3  4932.0     4774.5  12366
 1         Juneau  AK    2702.9  7000      555.1  1438.0     3258.0   8438
 2       Wrangell  AK    2556.1  6620      915.0  2370.0     3471.1   8990
 3      Anchorage  AK    1706.8  4421      237.7   616.0     1944.5   5036
 4    Tribune[a]*  KS     778.2  2016        0.0     0.0      778.2   2016
 ..           ...  ..       ...   ...        ...     ...        ...    ...
 145       Toledo  OH      80.5   208        3.3     8.5       83.8    217
 146    Jonesboro  AR      80.2   208        0.6     1.6       80.7    209
 147      El Reno  OK      79.6   206        0.6     1.6       80.2    208
 148    Ellsworth  ME      79.3   205       14.6    38.0       93.9    243
 149      Caribou  ME      79.3   205        0.8     2.1       80.1    207

     Population (2020)
     Population (2020)
 0                8458
 1               32255
 2                2127
 3              291247
 4                1182
 ..                ...
 145            270871
 146             78576
 147             16989
 148              8399
 149              7396

 [150 rows x 9 columns]]

In [4]:
!pip install lxml

Requirement already satisfied: lxml in /Users/heatherchilders/opt/anaconda3/envs/ATM298/lib/python3.14/site-packages (6.0.2)

In [5]:
type(tabs)

list

In [6]:
len(tabs)

2

In [7]:
tabs[0] #N
# overview table to the right

                    Population tables of U.S. cities
0  The skyline of New York City, the most populou...
1                                             Cities
2  PopulationAreaDensityEthnic identityForeign-bo...
3                                        Urban areas
4             Populous cities and metropolitan areas
5                                 Metropolitan areas
6  184 combined statistical areas935 core-based s...
7                                        Megaregions
8  Related population listsNorth American metro a...
9                                                vte

In [8]:
tabs[1]

            City  ST Land area       Water area         Total area         \
            City  ST     (mi2) (km2)      (mi2)   (km2)      (mi2)  (km2)
0          Sitka  AK    2870.2  7434     1904.3  4932.0     4774.5  12366
1         Juneau  AK    2702.9  7000      555.1  1438.0     3258.0   8438
2       Wrangell  AK    2556.1  6620      915.0  2370.0     3471.1   8990
3      Anchorage  AK    1706.8  4421      237.7   616.0     1944.5   5036
4    Tribune[a]*  KS     778.2  2016        0.0     0.0      778.2   2016
..           ...  ..       ...   ...        ...     ...        ...    ...
145       Toledo  OH      80.5   208        3.3     8.5       83.8    217
146    Jonesboro  AR      80.2   208        0.6     1.6       80.7    209
147      El Reno  OK      79.6   206        0.6     1.6       80.2    208
148    Ellsworth  ME      79.3   205       14.6    38.0       93.9    243
149      Caribou  ME      79.3   205        0.8     2.1       80.1    207

    Population (2020)
    Population (2020)
0                8458
1               32255
2                2127
3              291247
4                1182
..                ...
145            270871
146             78576
147             16989
148              8399
149              7396

[150 rows x 9 columns]

In [9]:
tbl = tabs[1]
tbl.head()

          City  ST Land area       Water area         Total area         \
          City  ST     (mi2) (km2)      (mi2)   (km2)      (mi2)  (km2)
0        Sitka  AK    2870.2  7434     1904.3  4932.0     4774.5  12366
1       Juneau  AK    2702.9  7000      555.1  1438.0     3258.0   8438
2     Wrangell  AK    2556.1  6620      915.0  2370.0     3471.1   8990
3    Anchorage  AK    1706.8  4421      237.7   616.0     1944.5   5036
4  Tribune[a]*  KS     778.2  2016        0.0     0.0      778.2   2016

  Population (2020)
  Population (2020)
0              8458
1             32255
2              2127
3            291247
4              1182

To process this information, unusable items have to be removed. We are going to do that with `regex` (recall the discussion section)!

In [10]:
from re import sub 
def remove(string):
    '''
    Removes everything inside [], a whitespace before that and *'s.
    '''
    if isinstance(string, str):
        string = sub(r'\s*\[.*\]\**', '', string)
        # \s means every whitespace (incl. space and newline) followed by any text between square brackets and an trailing
        # * means zero or more occurences, . any character
        # this aims to remove the [a]* after Tribune
    return string

In [11]:
tbl.iloc[4,0]

'Tribune[a]*'

In [12]:
remove(tbl.iloc[4,0])

'Tribune'

In [13]:
remove(1706.8)

1706.8

In [14]:
remove('First text [some random text]*')

'First text'

In [15]:
remove('First text[some random text]*')

'First text'

In [16]:
remove('First text*')

'First text*'

In [17]:
remove('First text[]*')

'First text'

In [18]:
remove('First text[some random text]')

'First text'

Only the square brackets are mandatory.

In [19]:
tbl.columns

MultiIndex([(             'City',              'City'),
            (               'ST',                'ST'),
            (        'Land area',             '(mi2)'),
            (        'Land area',             '(km2)'),
            (       'Water area',             '(mi2)'),
            (       'Water area',             '(km2)'),
            (       'Total area',             '(mi2)'),
            (       'Total area',             '(km2)'),
            ('Population (2020)', 'Population (2020)')],
           )

In [20]:
tbl.columns = [remove(i) for i in tbl.columns] # remove from table columns

In [21]:
tbl.columns

Index([                          ('City', 'City'),
                                     ('ST', 'ST'),
                           ('Land area', '(mi2)'),
                           ('Land area', '(km2)'),
                          ('Water area', '(mi2)'),
                          ('Water area', '(km2)'),
                          ('Total area', '(mi2)'),
                          ('Total area', '(km2)'),
       ('Population (2020)', 'Population (2020)')],
      dtype='object')

In [22]:
tbl = tbl.map(remove) #remove from all rows

In [23]:
tbl.head()

,"(City, City)","(ST, ST)","(Land area, (mi2))","(Land area, (km2))","(Water area, (mi2))","(Water area, (km2))","(Total area, (mi2))","(Total area, (km2))","(Population (2020), Population (2020))"
0,Sitka,AK,2870.2,7434,1904.3,4932.0,4774.5,12366,8458
1,Juneau,AK,2702.9,7000,555.1,1438.0,3258.0,8438,32255
2,Wrangell,AK,2556.1,6620,915.0,2370.0,3471.1,8990,2127
3,Anchorage,AK,1706.8,4421,237.7,616.0,1944.5,5036,291247
4,Tribune,KS,778.2,2016,0.0,0.0,778.2,2016,1182

In [24]:
tbl.dtypes

(City, City)                                  str
(ST, ST)                                      str
(Land area, (mi2))                        float64
(Land area, (km2))                          int64
(Water area, (mi2))                       float64
(Water area, (km2))                       float64
(Total area, (mi2))                       float64
(Total area, (km2))                         int64
(Population (2020), Population (2020))      int64
dtype: object

### HTML

Web pages are written in _hypertext markup language_ (HTML). HTML files (`.htm` or `.html`) are plain text, just like JSON, Python scripts, and R scripts.

In HTML, we use _tags_ to create _elements_ of a web page. Elements add formatting and structure to the page.

* Tags usually come in pairs: an opening tag and a closing tag.
* Tags are written `<NAME>` for opening tags, `</NAME>` for closing tags, and `<NAME />` for singleton tags.
* Opening and singleton tags can have _attributes_ that contain additional information. Attributes are written `ATTRIBUTE=VALUE` after the tag name. 

See [here](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics) for a more detailed explanation, and [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element) for a list of valid HTML elements.

#### Example

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

From now on, we will use an artificial an example:

```html
<p>This page is famous and this <b>word</b> is emphasized.</p>
```

```html
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
```

```html
<li>1. Something</li>
```

<p>This page is famous and this <strong>word</strong> is emphasized.</p>
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
<li>1. Something</li>

The `p` tag marks a paragraph, the `a` tag marks a link (an _anchor_), the `strong` tag marks emphasized text,
and `li` tag marks a list.

Here's a string that contains HTML for a simple, complete website:

In [25]:
page = """
<html> 
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>

    <p>This is a new paragraph!</p>
    <p><a href="https://pudding.cool">The Pudding</a></p>
</body>

</html>
"""

In [26]:
page

'\n<html> \n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n\n    <p>This is a new paragraph!</p>\n    <p><a href="https://pudding.cool">The Pudding</a></p>\n</body>\n\n</html>\n'

<html> 
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>

<body>
    <p>This is a new paragraph!</p>
    <p><a href="https://pudding.cool">The Pudding</a><p/>
</body>

</html>

The `<span>` tag is an inline container used to mark up a part of a text, or a part of a document.
    
For example, you can write the code
```
<p>My hat is <span style="color:blue">blue</span>.</p>    
```  
    
<p>My hat is <span style="color:blue">blue</span>.</p>

### XML

_Extensible markup language_ (XML) also uses tags to create elements. We say XML is _extensible_ because you can create your own XML elements (unlike HTML). People typically use XML to describe structure and meaning of data, rather than for formatting.

We'll use the same process to extract data from both HTML and XML.

### Parser

A _parser_ converts formatted data into familiar data structures. We've used __requests__' built-in JSON parser, but the package doesn't have a built-in HTML/XML parser. Fortunately, there are many other Python packages for parsing HTML/XML and web scraping.

HTML/XML Parsers:
* [lxml](https://lxml.de/)
* [html5lib](https://github.com/html5lib/html5lib-python)
* [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/)
* [requests-html](https://docs.python-requests.org/projects/requests-html/en/latest/)

Scraper Frameworks (_convenient after learning the basics with parsers_):
* [scrapy](https://scrapy.org/)
* [newspaper3k](https://github.com/codelucas/newspaper)

Even more [here](https://github.com/lorien/awesome-web-scraping/blob/master/python.md#web-scraping-frameworks).

We'll use __lxml__ here (check the [doc](https://lxml.de/apidoc/index.html)), but you're welcome to use other packages on assignments and the project.

In [27]:
import lxml.html as lx

html = lx.fromstring(page)
html

<html> 
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>

<body>
    <p>This is a new paragraph!</p>
</body>

</html>

In [28]:
page

'\n<html> \n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n\n    <p>This is a new paragraph!</p>\n    <p><a href="https://pudding.cool">The Pudding</a></p>\n</body>\n\n</html>\n'

#### Finding Elements

Elements are nested, so an HTML document is like a tree:
```
html
â”œâ”€â”€ head
â”‚   â””â”€â”€ title
â””â”€â”€ body
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”‚   â””â”€â”€ a
    â””â”€â”€ span
```
This is similar to the file system on your computer. The key difference is that elements at the same level can have the same tag name.

#### XPath

The _XML Path Language_ (XPath) lets us write paths to elements. XPath paths look a lot like file paths. XPath is not Python-specific!

The `.xpath()` method gets all elements at an XPath path:

In [29]:
html.xpath("/html/head/title")

In [30]:
html.xpath("/html/body/p/a")

Since there may be more than one element, the method always returns a list.

Absolute paths are not robust for scraping. An update to a web page that adds a single tag can break a scraper that uses absolute paths. In XPath, `//` means "anywhere below". We'll use `//` often because it's more robust:

In [31]:
html.xpath("//p/a")

What if we just elements want that satisfy a certain condition? In XPath, `[ ]` filters out elements that don't match a condition. For example:

In [32]:
html.xpath("//p[@id = 'best-paragraph']")

[XPath Diner](http://www.topswagcode.com/xpath/) is an interactive tutorial that teaches most of the XPath syntax. It takes about 20-60 minutes. Work through it to become an XPath ninja! 

You can copy the absolute path of a tag from the developer tools.

In [33]:
'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[7]/td[3]'

'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[7]/td[3]'

#### CSS Selectors

_Cascading Style Sheets_ (CSS) is another language for formatting elements in an HTML document. CSS provides another way to select elements, called _CSS selectors_.

CSS selectors are more concise but less flexible than XPath paths. The `.cssselect()` method gets all elements at a CSS selector:

In [34]:
html.cssselect("a")

ImportError: cssselect does not seem to be installed. See https://pypi.org/project/cssselect/

Check out the [CSS Diner](https://flukeout.github.io/)!

### Extracting Text and Attributes

There are two ways to get text from an element:

* `.text` gives text inside the element, but not its children
* `.text_content()` gives text inside the element and its children, with all tags removed

In [35]:
page

'\n<html> \n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n\n    <p>This is a new paragraph!</p>\n    <p><a href="https://pudding.cool">The Pudding</a></p>\n</body>\n\n</html>\n'

In [36]:
html.text_content()

' \n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! ðŸŒ®\n    Visit The Pudding.\n    This is a span, it comes with an taco ðŸŒ®\n\n    This is a new paragraph!\n    The Pudding\n\n\n'

In [37]:
a = html.xpath("//a")[0]

In [38]:
a.text_content()

'The Pudding'

In [39]:
a.text

'The Pudding'

In [40]:
html.text_content()

' \n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! ðŸŒ®\n    Visit The Pudding.\n    This is a span, it comes with an taco ðŸŒ®\n\n    This is a new paragraph!\n    The Pudding\n\n\n'

In [41]:
html.text

' \n'

We can get values from attributes on an element with `.attrib`, which is a dictionary:

In [42]:
a.attrib["href"]

'https://pudding.cool'

In [43]:
[x.attrib["href"] for x in html.xpath("//a")]

['https://pudding.cool', 'https://pudding.cool']

### Writing Scrapers

Lets scrape the wiki table ourselves. Attention: We are using request, so pay attention to the file that is being returned. Check on devtools the html element for `<thead>` and see what is returned in the network.

In [44]:
import requests

# Define the User-Agent header
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
}

result = requests.get(url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area', headers = headers)
html = lx.fromstring(result.text)

In [45]:
tables = html.xpath('//table')

In [46]:
tables

In [47]:
table = tables[1]

In [48]:
table.text_content()

'\n\n\nCity\n\nST\n\nLand area\n\nWater area\n\nTotal area\n\nPopulation(2020)\n\n\n(mi2)\n(km2)\n(mi2)\n(km2)\n(mi2)\n(km2)\n\n\nSitka\nAK\n2,870.2\n\n7,434\n1,904.3\n\n4,932\n4,774.5\n\n12,366\n8,458\n\n\nJuneau\nAK\n2,702.9\n\n7,000\n555.1\n\n1,438\n3,258.0\n\n8,438\n32,255\n\n\nWrangell\nAK\n2,556.1\n\n6,620\n915.0\n\n2,370\n3,471.1\n\n8,990\n2,127\n\n\nAnchorage\nAK\n1,706.8\n\n4,421\n237.7\n\n616\n1,944.5\n\n5,036\n291,247\n\n\nTribune[a]*\nKS\n778.2\n\n2,016\n0\n\n0\n778.2\n\n2,016\n1,182\n\n\nJacksonville\nFL\n747.3\n\n1,935\n127.1\n\n329\n874.5\n\n2,265\n949,611\n\n\nAnaconda *\n\nMT\n736.7\n\n1,908\n4.7\n\n12\n741.4\n\n1,920\n9,421\n\n\nButte *\nMT\n715.8\n\n1,854\n0.6\n\n1.6\n716.3\n\n1,855\n34,494\n\n\nHouston\nTX\n640.8\n\n1,660\n31.2\n\n81\n672.0\n\n1,740\n2,304,580\n\n\nOklahoma City\nOK\n607.0\n\n1,572\n14.3\n\n37\n621.3\n\n1,609\n681,054\n\n\nPhoenix\nAZ\n518.4\n\n1,343\n1.0\n\n2.6\n519.4\n\n1,345\n1,608,139\n\n\nSan Antonio\nTX\n499.0\n\n1,292\n5.7\n\n15\n504.7\n\n1,307\n1,434,625\n\n\nNashville *\nTN\n475.6\n\n1,232\n21.6\n\n56\n497.2\n\n1,288\n689,447\n\n\nLos Angeles\nCA\n470.5\n\n1,219\n31.5\n\n82\n502.0\n\n1,300\n3,898,747\n\n\nStatenville[b]\nGA\n420.4\n\n1,089\n0.3\n\n0.78\n420.7\n\n1,090\n3,697\n\n\nSuffolk[c]**\nVA\n399.2\n\n1,034\n29.7\n\n77\n428.9\n\n1,111\n94,324\n\n\nBuckeye\nAZ\n395.8\n\n1,025\n0.2\n\n0.52\n396.0\n\n1,026\n91,502\n\n\nIndianapolis *\nIN\n361.0\n\n935\n6.9\n\n18\n367.9\n\n953\n887,642\n\n\nFort Worth\nTX\n352.0\n\n912\n8.2\n\n21\n360.2\n\n933\n918,915\n\n\nDallas\nTX\n339.7\n\n880\n44.0\n\n114\n383.7\n\n994\n1,304,379\n\n\nChesapeake[d]**\nVA\n338.5\n\n877\n12.5\n\n32\n350.9\n\n909\n249,422\n\n\nSan Diego\nCA\n326.0\n\n844\n16.2\n\n42\n342.3\n\n887\n1,386,932\n\n\nAustin\nTX\n325.0\n\n842\n6.6\n\n17\n331.6\n\n859\n961,855\n\n\nLouisville *\nKY\n324.5\n\n840\n16.5\n\n43\n341.0\n\n883\n633,045\n\n\nKansas City\nMO\n314.5\n\n815\n4.1\n\n11\n318.6\n\n825\n508,090\n\n\nCharlotte\nNC\n312.1\n\n808\n2.0\n\n5.2\n314.1\n\n814\n874,579\n\n\nAugusta *\nGA\n302.3\n\n783\n4.2\n\n11\n306.5\n\n794\n202,081\n\n\nNew York City\nNY\n300.5\n\n778\n171.9\n\n445\n472.4\n\n1,224\n8,804,190\n\n\nMemphis\nTN\n289.8\n\n751\n8.9\n\n23\n298.7\n\n774\n633,104\n\n\nLexington\nKY\n283.9\n\n735\n1.7\n\n4.4\n285.6\n\n740\n322,570\n\n\nEl Paso\nTX\n258.8\n\n670\n0.5\n\n1.3\n259.4\n\n672\n678,815\n\n\nMacon\nGA\n249.4\n\n646\n5.5\n\n14\n254.9\n\n660\n157,346\n\n\nCusseta\nGA\n248.7\n\n644\n2.4\n\n6.2\n251.2\n\n651\n9,565\n\n\nVirginia Beach[e]**\nVA\n244.7\n\n634\n252.8\n\n655\n497.5\n\n1,289\n459,470\n\n\nTucson\nAZ\n242.9\n\n629\n0.3\n\n0.78\n243.2\n\n630\n542,629\n\n\nChicago\nIL\n227.7\n\n590\n6.8\n\n18\n234.5\n\n607\n2,746,388\n\n\nHuntsville\nAL\n225.3\n\n584\n1.5\n\n3.9\n226.9\n\n588\n215,006\n\n\nColumbus\nOH\n221.9\n\n575\n5.9\n\n15\n227.8\n\n590\n905,748\n\n\nColumbus\nGA\n216.5\n\n561\n4.5\n\n12\n221.0\n\n572\n206,922\n\n\nBoulder City\nNV\n212.3\n\n550\n0.0\n\n0\n212.3\n\n550\n14,885\n\n\nValdez\nAK\n211.7\n\n548\n60.3\n\n156\n271.9\n\n704\n3,985\n\n\nPreston[f]\nGA\n209.7\n\n543\n0.9\n\n2.3\n210.6\n\n545\n2,348\n\n\nCalifornia City\nCA\n203.6\n\n527\n0.1\n\n0.26\n203.7\n\n528\n14,973\n\n\nColorado Springs\nCO\n202.2\n\n524\n0.4\n\n1.0\n202.6\n\n525\n478,961\n\n\nTulsa\nOK\n197.7\n\n512\n4.1\n\n11\n201.8\n\n523\n413,066\n\n\nGoodyear\nAZ\n191.3\n\n495\n0.0\n\n0\n191.3\n\n495\n95,294\n\n\nAlbuquerque\nNM\n187.3\n\n485\n1.7\n\n4.4\n188.9\n\n489\n564,559\n\n\nScottsdale\nAZ\n184.0\n\n477\n0.4\n\n1.0\n184.4\n\n478\n241,361\n\n\nHibbing\nMN\n182.0\n\n471\n4.4\n\n11\n186.5\n\n483\n16,214\n\n\nNorman\nOK\n178.7\n\n463\n10.5\n\n27\n189.2\n\n490\n128,026\n\n\nSan Jose\nCA\n177.9\n\n461\n3.1\n\n8.0\n181.1\n\n469\n1,013,240\n\n\nPeoria\nAZ\n176.7\n\n458\n3.2\n\n8.3\n179.9\n\n466\n190,985\n\n\nNew Orleans\nLA\n169.6\n\n439\n180.3\n\n467\n349.8\n\n906\n383,997\n\n\nCorpus Christi\nTX\n167.8\n\n435\n325.1\n\n842\n492.9\n\n1,277\n317,863\n\n\nWichita\nKS\n165.1\n\n428\n4.5\n\n12\n169.5\n\n439\n397,532\n\n\nAurora\nCO\n164.1\n\n425\n0.6\n\n1.6\n164.7\n\n427\n386,261\n\n\nMontgomery\nAL\n159.9\n\n414\n2.4\n\n6.2\n162.3\n\n420\n200,603\n\n\nDenver\nCO\n153.1\n\n397\n1.7\n\n4.4\n154.7\n\n401\n715,522\n\n\nSierra Vista\nAZ\n152.4\n\n395\n0.3\n\n0.78\n152.7\n\n395\n45,308\n\n\nRaleigh\nNC\n152.3\n\n394\n1.1\n\n2.8\n153.3\n\n397\n467,665\n\n\nGeorgetown\nGA\n151.2\n\n392\n9.3\n\n24\n160.6\n\n416\n2,235\n\n\nMobile\nAL\n150.8\n\n391\n40.6\n\n105\n191.5\n\n496\n187,041\n\n\nBakersfield\nCA\n150.4\n\n390\n1.5\n\n3.9\n151.9\n\n393\n403,455\n\n\nFayetteville\nNC\n148.3\n\n384\n1.8\n\n4.7\n150.1\n\n389\n208,501\n\n\nBirmingham\nAL\n147.0\n\n381\n2.5\n\n6.5\n149.5\n\n387\n200,733\n\n\nCarson City[g]**\nNV\n144.5\n\n374\n12.6\n\n33\n157.1\n\n407\n58,639\n\n\nLubbock\nTX\n143.2\n\n371\n1.3\n\n3.4\n144.5\n\n374\n257,141\n\n\nOmaha\nNE\n143.0\n\n370\n3.6\n\n9.3\n146.6\n\n380\n486,051\n\n\nChattanooga\nTN\n142.4\n\n369\n7.7\n\n20\n150.1\n\n389\n181,099\n\n\nMesa\nAZ\n142.0\n\n368\n0.6\n\n1.6\n142.6\n\n369\n504,258\n\n\nLas Vegas\nNV\n141.9\n\n368\n0.1\n\n0.26\n141.9\n\n368\n641,903\n\n\nColumbia\nSC\n139.4\n\n361\n3.0\n\n7.8\n142.3\n\n369\n136,632\n\n\nDetroit\nMI\n138.7\n\n359\n4.2\n\n11\n142.9\n\n370\n639,111\n\n\nBunnell\nFL\n136.3\n\n353\n0.1\n\n0.26\n136.3\n\n353\n3,276\n\n\nAtlanta\nGA\n135.3\n\n350\n1.1\n\n2.8\n136.4\n\n353\n498,715\n\n\nGreensboro\nNC\n134.7\n\n349\n5.2\n\n13\n140.0\n\n363\n299,035\n\n\nPhiladelphia\nPA\n134.3\n\n348\n8.1\n\n21\n142.4\n\n369\n1,603,797\n\n\nWinston-Salem\nNC\n133.7\n\n346\n1.2\n\n3.1\n134.9\n\n349\n249,545\n\n\nPortland\nOR\n133.5\n\n346\n11.5\n\n30\n145.0\n\n376\n652,503\n\n\nOrlando\nFL\n129.6\n\n336\n8.4\n\n22\n138.0\n\n357\n307,573\n\n\nLynchburg\nTN\n129.2\n\n335\n1.2\n\n3.1\n130.4\n\n338\n6,461\n\n\nKansas City\nKS\n124.7\n\n323\n3.6\n\n9.3\n128.3\n\n332\n156,607\n\n\nFernley\nNV\n122.7\n\n318\n6.7\n\n17\n129.5\n\n335\n22,895\n\n\nBrownsville\nTX\n122.0\n\n316\n6.4\n\n17\n128.4\n\n333\n186,738\n\n\nMarana\nAZ\n121.7\n\n315\n0.7\n\n1.8\n122.4\n\n317\n51,908\n\n\nLittle Rock\nAR\n121.2\n\n314\n3.0\n\n7.8\n124.2\n\n322\n202,591\n\n\nYuma\nAZ\n121.1\n\n314\n0.1\n\n0.26\n121.2\n\n314\n95,548\n\n\nHenderson\nNV\n121.0\n\n313\n0.5\n\n1.3\n121.5\n\n315\n317,610\n\n\nDurham\nNC\n119.9\n\n311\n0.8\n\n2.1\n120.8\n\n313\n283,506\n\n\nPort St. Lucie\nFL\n119.2\n\n309\n1.6\n\n4.1\n120.8\n\n313\n204,851\n\n\nAthens *\nGA\n116.4\n\n301\n1.8\n\n4.7\n118.2\n\n306\n127,315\n\n\nFresno\nCA\n115.9\n\n300\n1.2\n\n3.1\n117.1\n\n303\n542,107\n\n\nCharleston\nSC\n115.3\n\n299\n20.9\n\n54\n136.2\n\n353\n150,227\n\n\nEloy\nAZ\n114.7\n\n297\n0.1\n\n0.26\n114.8\n\n297\n15,635\n\n\nTampa\nFL\n114.5\n\n297\n63.6\n\n165\n178.1\n\n461\n384,959\n\n\nHartsville\nTN\n114.3\n\n296\n2.3\n\n6.0\n116.6\n\n302\n11,615\n\n\nCasa Grande\nAZ\n114.2\n\n296\n0.0\n\n0\n114.2\n\n296\n53,658\n\n\nFort Wayne\nIN\n111.8\n\n290\n0.3\n\n0.78\n112.1\n\n290\n263,886\n\n\nJackson\nMS\n111.7\n\n289\n2.1\n\n5.4\n113.8\n\n295\n153,701\n\n\nSalt Lake City\nUT\n110.9\n\n287\n0.4\n\n1.0\n111.3\n\n288\n199,723\n\n\nSurprise\nAZ\n110.5\n\n286\n0.2\n\n0.52\n110.7\n\n287\n143,148\n\n\nSavannah\nGA\n109.5\n\n284\n4.8\n\n12\n114.3\n\n296\n147,780\n\n\nReno\nNV\n109.3\n\n283\n2.8\n\n7.3\n112.1\n\n290\n264,165\n\n\nLaredo\nTX\n109.1\n\n283\n1.5\n\n3.9\n110.5\n\n286\n255,205\n\n\nShreveport\nLA\n108.2\n\n280\n15.7\n\n41\n123.8\n\n321\n187,593\n\n\nAbilene\nTX\n106.7\n\n276\n5.4\n\n14\n112.1\n\n290\n125,182\n\n\nCape Coral\nFL\n106.3\n\n275\n13.4\n\n35\n119.6\n\n310\n194,016\n\n\nAmarillo\nTX\n106.1\n\n275\n2.0\n\n5.2\n108.0\n\n280\n200,393\n\n\nPalmdale\nCA\n106.1\n\n275\n0.2\n\n0.52\n106.3\n\n275\n169,450\n\n\nBabbitt\nMN\n106.0\n\n275\n0.8\n\n2.1\n106.8\n\n277\n1,397\n\n\nNorth Las Vegas\nNV\n105.4\n\n273\n0.0\n\n0\n105.4\n\n273\n262,527\n\n\nRio Rancho\nNM\n103.4\n\n268\n0.3\n\n0.78\n103.6\n\n268\n104,046\n\n\nTallahassee\nFL\n102.6\n\n266\n2.9\n\n7.5\n105.5\n\n273\n196,169\n\n\nLincoln\nNE\n102.5\n\n265\n1.4\n\n3.6\n103.9\n\n269\n291,082\n\n\nUnalaska\nAK\n102.2\n\n265\n108.7\n\n282\n210.9\n\n546\n4,254\n\n\nClarksville\nTN\n100.1\n\n259\n0.7\n\n1.8\n100.8\n\n261\n166,722\n\n\nNorth Port\nFL\n99.4\n\n257\n4.8\n\n12\n104.2\n\n270\n74,793\n\n\nSt. Marys\nPA\n99.3\n\n257\n0.2\n\n0.52\n99.5\n\n258\n12,738\n\n\nNightmute\nAK\n98.8\n\n256\n5.0\n\n13\n103.8\n\n269\n306\n\n\nKnoxville\nTN\n98.7\n\n256\n5.5\n\n14\n104.3\n\n270\n190,740\n\n\nSacramento\nCA\n98.7\n\n256\n2.1\n\n5.4\n100.7\n\n261\n524,943\n\n\nDenton\nTX\n96.9\n\n251\n1.4\n\n3.6\n98.4\n\n255\n139,869\n\n\nPalm Coast\nFL\n96.3\n\n249\n1.2\n\n3.1\n97.5\n\n253\n89,258\n\n\nMilwaukee\nWI\n96.2\n\n249\n0.6\n\n1.6\n96.8\n\n251\n577,222\n\n\nArlington\nTX\n95.8\n\n248\n3.6\n\n9.3\n99.4\n\n257\n394,266\n\n\nPalm Springs\nCA\n94.5\n\n245\n0.1\n\n0.26\n94.7\n\n245\n44,575\n\n\nLancaster\nCA\n94.3\n\n244\n0.3\n\n0.78\n94.5\n\n245\n173,516\n\n\nSouth Fulton\nGA\n92.9\n\n241\n1.3\n\n3.4\n94.2\n\n244\n107,436\n\n\nWaco\nTX\n91.0\n\n236\n12.4\n\n32\n103.4\n\n268\n138,486\n\n\nDothan\nAL\n90.4\n\n234\n0.3\n\n0.78\n90.7\n\n235\n71,072\n\n\nDes Moines\nIA\n88.2\n\n228\n2.6\n\n6.7\n90.7\n\n235\n214,133\n\n\nPalm Bay\nFL\n86.7\n\n225\n1.5\n\n3.9\n88.2\n\n228\n119,760\n\n\nBaton Rouge\nLA\n86.4\n\n224\n2.2\n\n5.7\n88.6\n\n229\n227,470\n\n\nBoise\nID\n86.1\n\n223\n1.0\n\n2.6\n87.1\n\n226\n235,684\n\n\nOak Ridge\nTN\n85.3\n\n221\n4.7\n\n12\n90.0\n\n233\n31,402\n\n\nSioux Falls\nSD\n84.5\n\n219\n0.5\n\n1.3\n85.1\n\n220\n192,517\n\n\nEdmond\nOK\n84.4\n\n219\n3.1\n\n8.0\n87.5\n\n227\n94,428\n\n\nMadison\nWI\n84.2\n\n218\n21.4\n\n55\n105.6\n\n274\n269,840\n\n\nSeattle\nWA\n84.0\n\n218\n58.0\n\n150\n142.1\n\n368\n737,015\n\n\nCoolidge\nAZ\n83.5\n\n216\n0.2\n\n0.52\n83.7\n\n217\n13,218\n\n\nSpringfield\nMO\n83.3\n\n216\n0.6\n\n1.6\n83.9\n\n217\n169,176\n\n\nBeaumont\nTX\n82.1\n\n213\n2.8\n\n7.3\n84.9\n\n220\n115,282\n\n\nLawton\nOK\n81.7\n\n212\n0.0\n\n0\n81.7\n\n212\n90,381\n\n\nRiverside\nCA\n81.1\n\n210\n0.3\n\n0.78\n81.5\n\n211\n314,998\n\n\nBaltimore **\nMD\n80.9\n\n210\n11.1\n\n29\n92.1\n\n239\n585,708\n\n\nToledo\nOH\n80.5\n\n208\n3.3\n\n8.5\n83.8\n\n217\n270,871\n\n\nJonesboro\nAR\n80.2\n\n208\n0.6\n\n1.6\n80.7\n\n209\n78,576\n\n\nEl Reno\nOK\n79.6\n\n206\n0.6\n\n1.6\n80.2\n\n208\n16,989\n\n\nEllsworth\nME\n79.3\n\n205\n14.6\n\n38\n93.9\n\n243\n8,399\n\n\nCaribou\nME\n79.3\n\n205\n0.8\n\n2.1\n80.1\n\n207\n7,396\n'

In [49]:
html.xpath('//table[2]/thead')

[]

In [50]:
html.xpath('//table[2]/tbody')

In [51]:
def retrieve_rows(html): 
    rows = html.xpath('//table[2]/tbody/tr') # get all rows of the second table
    cells = []
    for row in rows: 
        # ./td|th means we start at the node (not searching the whole doc again), and choose td OR th children
        cells.append([cell.text_content() for cell in row.xpath('./td|th')]) # no text, as some cells are in <b>
    return cells

In [52]:
retrieve_rows(html)

[['City\n',
  'ST\n',
  'Land area\n',
  'Water area\n',
  'Total area\n',
  'Population(2020)\n'],
 ['(mi2)', '(km2)', '(mi2)', '(km2)', '(mi2)', '(km2)\n'],
 ['Sitka',
  'AK',
  '2,870.2\n',
  '7,434',
  '1,904.3\n',
  '4,932',
  '4,774.5\n',
  '12,366',
  '8,458\n'],
 ['Juneau',
  'AK',
  '2,702.9\n',
  '7,000',
  '555.1\n',
  '1,438',
  '3,258.0\n',
  '8,438',
  '32,255\n'],
 ['Wrangell',
  'AK',
  '2,556.1\n',
  '6,620',
  '915.0\n',
  '2,370',
  '3,471.1\n',
  '8,990',
  '2,127\n'],
 ['Anchorage',
  'AK',
  '1,706.8\n',
  '4,421',
  '237.7\n',
  '616',
  '1,944.5\n',
  '5,036',
  '291,247\n'],
 ['Tribune[a]*',
  'KS',
  '778.2\n',
  '2,016',
  '0\n',
  '0',
  '778.2\n',
  '2,016',
  '1,182\n'],
 ['Jacksonville',
  'FL',
  '747.3\n',
  '1,935',
  '127.1\n',
  '329',
  '874.5\n',
  '2,265',
  '949,611\n'],
 ['Anaconda *\n',
  'MT',
  '736.7\n',
  '1,908',
  '4.7\n',
  '12',
  '741.4\n',
  '1,920',
  '9,421\n'],
 ['Butte *',
  'MT',
  '715.8\n',
  '1,854',
  '0.6\n',
  '1.6',
  '716.3\n',
  '1,855',
  '34,494\n'],
 ['Houston',
  'TX',
  '640.8\n',
  '1,660',
  '31.2\n',
  '81',
  '672.0\n',
  '1,740',
  '2,304,580\n'],
 ['Oklahoma City',
  'OK',
  '607.0\n',
  '1,572',
  '14.3\n',
  '37',
  '621.3\n',
  '1,609',
  '681,054\n'],
 ['Phoenix',
  'AZ',
  '518.4\n',
  '1,343',
  '1.0\n',
  '2.6',
  '519.4\n',
  '1,345',
  '1,608,139\n'],
 ['San Antonio',
  'TX',
  '499.0\n',
  '1,292',
  '5.7\n',
  '15',
  '504.7\n',
  '1,307',
  '1,434,625\n'],
 ['Nashville *',
  'TN',
  '475.6\n',
  '1,232',
  '21.6\n',
  '56',
  '497.2\n',
  '1,288',
  '689,447\n'],
 ['Los Angeles',
  'CA',
  '470.5\n',
  '1,219',
  '31.5\n',
  '82',
  '502.0\n',
  '1,300',
  '3,898,747\n'],
 ['Statenville[b]',
  'GA',
  '420.4\n',
  '1,089',
  '0.3\n',
  '0.78',
  '420.7\n',
  '1,090',
  '3,697\n'],
 ['Suffolk[c]**',
  'VA',
  '399.2\n',
  '1,034',
  '29.7\n',
  '77',
  '428.9\n',
  '1,111',
  '94,324\n'],
 ['Buckeye',
  'AZ',
  '395.8\n',
  '1,025',
  '0.2\n',
  '0.52',
  '396.0\n',
  '1,026',
  '91,502\n'],
 ['Indianapolis *',
  'IN',
  '361.0\n',
  '935',
  '6.9\n',
  '18',
  '367.9\n',
  '953',
  '887,642\n'],
 ['Fort Worth',
  'TX',
  '352.0\n',
  '912',
  '8.2\n',
  '21',
  '360.2\n',
  '933',
  '918,915\n'],
 ['Dallas',
  'TX',
  '339.7\n',
  '880',
  '44.0\n',
  '114',
  '383.7\n',
  '994',
  '1,304,379\n'],
 ['Chesapeake[d]**',
  'VA',
  '338.5\n',
  '877',
  '12.5\n',
  '32',
  '350.9\n',
  '909',
  '249,422\n'],
 ['San Diego',
  'CA',
  '326.0\n',
  '844',
  '16.2\n',
  '42',
  '342.3\n',
  '887',
  '1,386,932\n'],
 ['Austin',
  'TX',
  '325.0\n',
  '842',
  '6.6\n',
  '17',
  '331.6\n',
  '859',
  '961,855\n'],
 ['Louisville *',
  'KY',
  '324.5\n',
  '840',
  '16.5\n',
  '43',
  '341.0\n',
  '883',
  '633,045\n'],
 ['Kansas City',
  'MO',
  '314.5\n',
  '815',
  '4.1\n',
  '11',
  '318.6\n',
  '825',
  '508,090\n'],
 ['Charlotte',
  'NC',
  '312.1\n',
  '808',
  '2.0\n',
  '5.2',
  '314.1\n',
  '814',
  '874,579\n'],
 ['Augusta *',
  'GA',
  '302.3\n',
  '783',
  '4.2\n',
  '11',
  '306.5\n',
  '794',
  '202,081\n'],
 ['New York City',
  'NY',
  '300.5\n',
  '778',
  '171.9\n',
  '445',
  '472.4\n',
  '1,224',
  '8,804,190\n'],
 ['Memphis',
  'TN',
  '289.8\n',
  '751',
  '8.9\n',
  '23',
  '298.7\n',
  '774',
  '633,104\n'],
 ['Lexington',
  'KY',
  '283.9\n',
  '735',
  '1.7\n',
  '4.4',
  '285.6\n',
  '740',
  '322,570\n'],
 ['El Paso',
  'TX',
  '258.8\n',
  '670',
  '0.5\n',
  '1.3',
  '259.4\n',
  '672',
  '678,815\n'],
 ['Macon',
  'GA',
  '249.4\n',
  '646',
  '5.5\n',
  '14',
  '254.9\n',
  '660',
  '157,346\n'],
 ['Cusseta',
  'GA',
  '248.7\n',
  '644',
  '2.4\n',
  '6.2',
  '251.2\n',
  '651',
  '9,565\n'],
 ['Virginia Beach[e]**',
  'VA',
  '244.7\n',
  '634',
  '252.8\n',
  '655',
  '497.5\n',
  '1,289',
  '459,470\n'],
 ['Tucson',
  'AZ',
  '242.9\n',
  '629',
  '0.3\n',
  '0.78',
  '243.2\n',
  '630',
  '542,629\n'],
 ['Chicago',
  'IL',
  '227.7\n',
  '590',
  '6.8\n',
  '18',
  '234.5\n',
  '607',
  '2,746,388\n'],
 ['Huntsville',
  'AL',
  '225.3\n',
  '584',
  '1.5\n',
  '3.9',
  '226.9\n',
  '588',
  '215,006\n'],
 ['Columbus',
  'OH',
  '221.9\n',
  '575',
  '5.9\n',
  '15',
  '227.8\n',
  '590',
  '905,748\n'],
 ['Columbus',
  'GA',
  '216.5\n',
  '561',
  '4.5\n',
  '12',
  '221.0\n',
  '572',
  '206,922\n'],
 ['Boulder City',
  'NV',
  '212.3\n',
  '550',
  '0.0\n',
  '0',
  '212.3\n',
  '550',
  '14,885\n'],
 ['Valdez',
  'AK',
  '211.7\n',
  '548',
  '60.3\n',
  '156',
  '271.9\n',
  '704',
  '3,985\n'],
 ['Preston[f]',
  'GA',
  '209.7\n',
  '543',
  '0.9\n',
  '2.3',
  '210.6\n',
  '545',
  '2,348\n'],
 ['California City',
  'CA',
  '203.6\n',
  '527',
  '0.1\n',
  '0.26',
  '203.7\n',
  '528',
  '14,973\n'],
 ['Colorado Springs',
  'CO',
  '202.2\n',
  '524',
  '0.4\n',
  '1.0',
  '202.6\n',
  '525',
  '478,961\n'],
 ['Tulsa',
  'OK',
  '197.7\n',
  '512',
  '4.1\n',
  '11',
  '201.8\n',
  '523',
  '413,066\n'],
 ['Goodyear',
  'AZ',
  '191.3\n',
  '495',
  '0.0\n',
  '0',
  '191.3\n',
  '495',
  '95,294\n'],
 ['Albuquerque',
  'NM',
  '187.3\n',
  '485',
  '1.7\n',
  '4.4',
  '188.9\n',
  '489',
  '564,559\n'],
 ['Scottsdale',
  'AZ',
  '184.0\n',
  '477',
  '0.4\n',
  '1.0',
  '184.4\n',
  '478',
  '241,361\n'],
 ['Hibbing',
  'MN',
  '182.0\n',
  '471',
  '4.4\n',
  '11',
  '186.5\n',
  '483',
  '16,214\n'],
 ['Norman',
  'OK',
  '178.7\n',
  '463',
  '10.5\n',
  '27',
  '189.2\n',
  '490',
  '128,026\n'],
 ['San Jose',
  'CA',
  '177.9\n',
  '461',
  '3.1\n',
  '8.0',
  '181.1\n',
  '469',
  '1,013,240\n'],
 ['Peoria',
  'AZ',
  '176.7\n',
  '458',
  '3.2\n',
  '8.3',
  '179.9\n',
  '466',
  '190,985\n'],
 ['New Orleans',
  'LA',
  '169.6\n',
  '439',
  '180.3\n',
  '467',
  '349.8\n',
  '906',
  '383,997\n'],
 ['Corpus Christi',
  'TX',
  '167.8\n',
  '435',
  '325.1\n',
  '842',
  '492.9\n',
  '1,277',
  '317,863\n'],
 ['Wichita',
  'KS',
  '165.1\n',
  '428',
  '4.5\n',
  '12',
  '169.5\n',
  '439',
  '397,532\n'],
 ['Aurora',
  'CO',
  '164.1\n',
  '425',
  '0.6\n',
  '1.6',
  '164.7\n',
  '427',
  '386,261\n'],
 ['Montgomery',
  'AL',
  '159.9\n',
  '414',
  '2.4\n',
  '6.2',
  '162.3\n',
  '420',
  '200,603\n'],
 ['Denver',
  'CO',
  '153.1\n',
  '397',
  '1.7\n',
  '4.4',
  '154.7\n',
  '401',
  '715,522\n'],
 ['Sierra Vista',
  'AZ',
  '152.4\n',
  '395',
  '0.3\n',
  '0.78',
  '152.7\n',
  '395',
  '45,308\n'],
 ['Raleigh',
  'NC',
  '152.3\n',
  '394',
  '1.1\n',
  '2.8',
  '153.3\n',
  '397',
  '467,665\n'],
 ['Georgetown',
  'GA',
  '151.2\n',
  '392',
  '9.3\n',
  '24',
  '160.6\n',
  '416',
  '2,235\n'],
 ['Mobile',
  'AL',
  '150.8\n',
  '391',
  '40.6\n',
  '105',
  '191.5\n',
  '496',
  '187,041\n'],
 ['Bakersfield',
  'CA',
  '150.4\n',
  '390',
  '1.5\n',
  '3.9',
  '151.9\n',
  '393',
  '403,455\n'],
 ['Fayetteville',
  'NC',
  '148.3\n',
  '384',
  '1.8\n',
  '4.7',
  '150.1\n',
  '389',
  '208,501\n'],
 ['Birmingham',
  'AL',
  '147.0\n',
  '381',
  '2.5\n',
  '6.5',
  '149.5\n',
  '387',
  '200,733\n'],
 ['Carson City[g]**',
  'NV',
  '144.5\n',
  '374',
  '12.6\n',
  '33',
  '157.1\n',
  '407',
  '58,639\n'],
 ['Lubbock',
  'TX',
  '143.2\n',
  '371',
  '1.3\n',
  '3.4',
  '144.5\n',
  '374',
  '257,141\n'],
 ['Omaha',
  'NE',
  '143.0\n',
  '370',
  '3.6\n',
  '9.3',
  '146.6\n',
  '380',
  '486,051\n'],
 ['Chattanooga',
  'TN',
  '142.4\n',
  '369',
  '7.7\n',
  '20',
  '150.1\n',
  '389',
  '181,099\n'],
 ['Mesa',
  'AZ',
  '142.0\n',
  '368',
  '0.6\n',
  '1.6',
  '142.6\n',
  '369',
  '504,258\n'],
 ['Las Vegas',
  'NV',
  '141.9\n',
  '368',
  '0.1\n',
  '0.26',
  '141.9\n',
  '368',
  '641,903\n'],
 ['Columbia',
  'SC',
  '139.4\n',
  '361',
  '3.0\n',
  '7.8',
  '142.3\n',
  '369',
  '136,632\n'],
 ['Detroit',
  'MI',
  '138.7\n',
  '359',
  '4.2\n',
  '11',
  '142.9\n',
  '370',
  '639,111\n'],
 ['Bunnell',
  'FL',
  '136.3\n',
  '353',
  '0.1\n',
  '0.26',
  '136.3\n',
  '353',
  '3,276\n'],
 ['Atlanta',
  'GA',
  '135.3\n',
  '350',
  '1.1\n',
  '2.8',
  '136.4\n',
  '353',
  '498,715\n'],
 ['Greensboro',
  'NC',
  '134.7\n',
  '349',
  '5.2\n',
  '13',
  '140.0\n',
  '363',
  '299,035\n'],
 ['Philadelphia',
  'PA',
  '134.3\n',
  '348',
  '8.1\n',
  '21',
  '142.4\n',
  '369',
  '1,603,797\n'],
 ['Winston-Salem',
  'NC',
  '133.7\n',
  '346',
  '1.2\n',
  '3.1',
  '134.9\n',
  '349',
  '249,545\n'],
 ['Portland',
  'OR',
  '133.5\n',
  '346',
  '11.5\n',
  '30',
  '145.0\n',
  '376',
  '652,503\n'],
 ['Orlando',
  'FL',
  '129.6\n',
  '336',
  '8.4\n',
  '22',
  '138.0\n',
  '357',
  '307,573\n'],
 ['Lynchburg',
  'TN',
  '129.2\n',
  '335',
  '1.2\n',
  '3.1',
  '130.4\n',
  '338',
  '6,461\n'],
 ['Kansas City',
  'KS',
  '124.7\n',
  '323',
  '3.6\n',
  '9.3',
  '128.3\n',
  '332',
  '156,607\n'],
 ['Fernley',
  'NV',
  '122.7\n',
  '318',
  '6.7\n',
  '17',
  '129.5\n',
  '335',
  '22,895\n'],
 ['Brownsville',
  'TX',
  '122.0\n',
  '316',
  '6.4\n',
  '17',
  '128.4\n',
  '333',
  '186,738\n'],
 ['Marana',
  'AZ',
  '121.7\n',
  '315',
  '0.7\n',
  '1.8',
  '122.4\n',
  '317',
  '51,908\n'],
 ['Little Rock',
  'AR',
  '121.2\n',
  '314',
  '3.0\n',
  '7.8',
  '124.2\n',
  '322',
  '202,591\n'],
 ['Yuma',
  'AZ',
  '121.1\n',
  '314',
  '0.1\n',
  '0.26',
  '121.2\n',
  '314',
  '95,548\n'],
 ['Henderson',
  'NV',
  '121.0\n',
  '313',
  '0.5\n',
  '1.3',
  '121.5\n',
  '315',
  '317,610\n'],
 ['Durham',
  'NC',
  '119.9\n',
  '311',
  '0.8\n',
  '2.1',
  '120.8\n',
  '313',
  '283,506\n'],
 ['Port St. Lucie',
  'FL',
  '119.2\n',
  '309',
  '1.6\n',
  '4.1',
  '120.8\n',
  '313',
  '204,851\n'],
 ['Athens *',
  'GA',
  '116.4\n',
  '301',
  '1.8\n',
  '4.7',
  '118.2\n',
  '306',
  '127,315\n'],
 ['Fresno',
  'CA',
  '115.9\n',
  '300',
  '1.2\n',
  '3.1',
  '117.1\n',
  '303',
  '542,107\n'],
 ['Charleston',
  'SC',
  '115.3\n',
  '299',
  '20.9\n',
  '54',
  '136.2\n',
  '353',
  '150,227\n'],
 ['Eloy',
  'AZ',
  '114.7\n',
  '297',
  '0.1\n',
  '0.26',
  '114.8\n',
  '297',
  '15,635\n'],
 ['Tampa',
  'FL',
  '114.5\n',
  '297',
  '63.6\n',
  '165',
  '178.1\n',
  '461',
  '384,959\n'],
 ['Hartsville',
  'TN',
  '114.3\n',
  '296',
  '2.3\n',
  '6.0',
  '116.6\n',
  '302',
  '11,615\n'],
 ['Casa Grande',
  'AZ',
  '114.2\n',
  '296',
  '0.0\n',
  '0',
  '114.2\n',
  '296',
  '53,658\n'],
 ['Fort Wayne',
  'IN',
  '111.8\n',
  '290',
  '0.3\n',
  '0.78',
  '112.1\n',
  '290',
  '263,886\n'],
 ['Jackson',
  'MS',
  '111.7\n',
  '289',
  '2.1\n',
  '5.4',
  '113.8\n',
  '295',
  '153,701\n'],
 ['Salt Lake City',
  'UT',
  '110.9\n',
  '287',
  '0.4\n',
  '1.0',
  '111.3\n',
  '288',
  '199,723\n'],
 ['Surprise',
  'AZ',
  '110.5\n',
  '286',
  '0.2\n',
  '0.52',
  '110.7\n',
  '287',
  '143,148\n'],
 ['Savannah',
  'GA',
  '109.5\n',
  '284',
  '4.8\n',
  '12',
  '114.3\n',
  '296',
  '147,780\n'],
 ['Reno',
  'NV',
  '109.3\n',
  '283',
  '2.8\n',
  '7.3',
  '112.1\n',
  '290',
  '264,165\n'],
 ['Laredo',
  'TX',
  '109.1\n',
  '283',
  '1.5\n',
  '3.9',
  '110.5\n',
  '286',
  '255,205\n'],
 ['Shreveport',
  'LA',
  '108.2\n',
  '280',
  '15.7\n',
  '41',
  '123.8\n',
  '321',
  '187,593\n'],
 ['Abilene',
  'TX',
  '106.7\n',
  '276',
  '5.4\n',
  '14',
  '112.1\n',
  '290',
  '125,182\n'],
 ['Cape Coral',
  'FL',
  '106.3\n',
  '275',
  '13.4\n',
  '35',
  '119.6\n',
  '310',
  '194,016\n'],
 ['Amarillo',
  'TX',
  '106.1\n',
  '275',
  '2.0\n',
  '5.2',
  '108.0\n',
  '280',
  '200,393\n'],
 ['Palmdale',
  'CA',
  '106.1\n',
  '275',
  '0.2\n',
  '0.52',
  '106.3\n',
  '275',
  '169,450\n'],
 ['Babbitt',
  'MN',
  '106.0\n',
  '275',
  '0.8\n',
  '2.1',
  '106.8\n',
  '277',
  '1,397\n'],
 ['North Las Vegas',
  'NV',
  '105.4\n',
  '273',
  '0.0\n',
  '0',
  '105.4\n',
  '273',
  '262,527\n'],
 ['Rio Rancho',
  'NM',
  '103.4\n',
  '268',
  '0.3\n',
  '0.78',
  '103.6\n',
  '268',
  '104,046\n'],
 ['Tallahassee',
  'FL',
  '102.6\n',
  '266',
  '2.9\n',
  '7.5',
  '105.5\n',
  '273',
  '196,169\n'],
 ['Lincoln',
  'NE',
  '102.5\n',
  '265',
  '1.4\n',
  '3.6',
  '103.9\n',
  '269',
  '291,082\n'],
 ['Unalaska',
  'AK',
  '102.2\n',
  '265',
  '108.7\n',
  '282',
  '210.9\n',
  '546',
  '4,254\n'],
 ['Clarksville',
  'TN',
  '100.1\n',
  '259',
  '0.7\n',
  '1.8',
  '100.8\n',
  '261',
  '166,722\n'],
 ['North Port',
  'FL',
  '99.4\n',
  '257',
  '4.8\n',
  '12',
  '104.2\n',
  '270',
  '74,793\n'],
 ['St. Marys',
  'PA',
  '99.3\n',
  '257',
  '0.2\n',
  '0.52',
  '99.5\n',
  '258',
  '12,738\n'],
 ['Nightmute',
  'AK',
  '98.8\n',
  '256',
  '5.0\n',
  '13',
  '103.8\n',
  '269',
  '306\n'],
 ['Knoxville',
  'TN',
  '98.7\n',
  '256',
  '5.5\n',
  '14',
  '104.3\n',
  '270',
  '190,740\n'],
 ['Sacramento',
  'CA',
  '98.7\n',
  '256',
  '2.1\n',
  '5.4',
  '100.7\n',
  '261',
  '524,943\n'],
 ['Denton',
  'TX',
  '96.9\n',
  '251',
  '1.4\n',
  '3.6',
  '98.4\n',
  '255',
  '139,869\n'],
 ['Palm Coast',
  'FL',
  '96.3\n',
  '249',
  '1.2\n',
  '3.1',
  '97.5\n',
  '253',
  '89,258\n'],
 ['Milwaukee',
  'WI',
  '96.2\n',
  '249',
  '0.6\n',
  '1.6',
  '96.8\n',
  '251',
  '577,222\n'],
 ['Arlington',
  'TX',
  '95.8\n',
  '248',
  '3.6\n',
  '9.3',
  '99.4\n',
  '257',
  '394,266\n'],
 ['Palm Springs',
  'CA',
  '94.5\n',
  '245',
  '0.1\n',
  '0.26',
  '94.7\n',
  '245',
  '44,575\n'],
 ['Lancaster',
  'CA',
  '94.3\n',
  '244',
  '0.3\n',
  '0.78',
  '94.5\n',
  '245',
  '173,516\n'],
 ['South Fulton',
  'GA',
  '92.9\n',
  '241',
  '1.3\n',
  '3.4',
  '94.2\n',
  '244',
  '107,436\n'],
 ['Waco',
  'TX',
  '91.0\n',
  '236',
  '12.4\n',
  '32',
  '103.4\n',
  '268',
  '138,486\n'],
 ['Dothan',
  'AL',
  '90.4\n',
  '234',
  '0.3\n',
  '0.78',
  '90.7\n',
  '235',
  '71,072\n'],
 ['Des Moines',
  'IA',
  '88.2\n',
  '228',
  '2.6\n',
  '6.7',
  '90.7\n',
  '235',
  '214,133\n'],
 ['Palm Bay',
  'FL',
  '86.7\n',
  '225',
  '1.5\n',
  '3.9',
  '88.2\n',
  '228',
  '119,760\n'],
 ['Baton Rouge',
  'LA',
  '86.4\n',
  '224',
  '2.2\n',
  '5.7',
  '88.6\n',
  '229',
  '227,470\n'],
 ['Boise',
  'ID',
  '86.1\n',
  '223',
  '1.0\n',
  '2.6',
  '87.1\n',
  '226',
  '235,684\n'],
 ['Oak Ridge',
  'TN',
  '85.3\n',
  '221',
  '4.7\n',
  '12',
  '90.0\n',
  '233',
  '31,402\n'],
 ['Sioux Falls',
  'SD',
  '84.5\n',
  '219',
  '0.5\n',
  '1.3',
  '85.1\n',
  '220',
  '192,517\n'],
 ['Edmond',
  'OK',
  '84.4\n',
  '219',
  '3.1\n',
  '8.0',
  '87.5\n',
  '227',
  '94,428\n'],
 ['Madison',
  'WI',
  '84.2\n',
  '218',
  '21.4\n',
  '55',
  '105.6\n',
  '274',
  '269,840\n'],
 ['Seattle',
  'WA',
  '84.0\n',
  '218',
  '58.0\n',
  '150',
  '142.1\n',
  '368',
  '737,015\n'],
 ['Coolidge',
  'AZ',
  '83.5\n',
  '216',
  '0.2\n',
  '0.52',
  '83.7\n',
  '217',
  '13,218\n'],
 ['Springfield',
  'MO',
  '83.3\n',
  '216',
  '0.6\n',
  '1.6',
  '83.9\n',
  '217',
  '169,176\n'],
 ['Beaumont',
  'TX',
  '82.1\n',
  '213',
  '2.8\n',
  '7.3',
  '84.9\n',
  '220',
  '115,282\n'],
 ['Lawton', 'OK', '81.7\n', '212', '0.0\n', '0', '81.7\n', '212', '90,381\n'],
 ['Riverside',
  'CA',
  '81.1\n',
  '210',
  '0.3\n',
  '0.78',
  '81.5\n',
  '211',
  '314,998\n'],
 ['Baltimore **',
  'MD',
  '80.9\n',
  '210',
  '11.1\n',
  '29',
  '92.1\n',
  '239',
  '585,708\n'],
 ['Toledo',
  'OH',
  '80.5\n',
  '208',
  '3.3\n',
  '8.5',
  '83.8\n',
  '217',
  '270,871\n'],
 ['Jonesboro',
  'AR',
  '80.2\n',
  '208',
  '0.6\n',
  '1.6',
  '80.7\n',
  '209',
  '78,576\n'],
 ['El Reno',
  'OK',
  '79.6\n',
  '206',
  '0.6\n',
  '1.6',
  '80.2\n',
  '208',
  '16,989\n'],
 ['Ellsworth',
  'ME',
  '79.3\n',
  '205',
  '14.6\n',
  '38',
  '93.9\n',
  '243',
  '8,399\n'],
 ['Caribou',
  'ME',
  '79.3\n',
  '205',
  '0.8\n',
  '2.1',
  '80.1\n',
  '207',
  '7,396\n']]

In [53]:
df = pd.DataFrame(retrieve_rows(html))
df.head()

,0,1,2,3,4,5,6,7,8
0,City\n,ST\n,Land area\n,Water area\n,Total area\n,Population(2020)\n,NaN,NaN,NaN
1,(mi2),(km2),(mi2),(km2),(mi2),(km2)\n,NaN,NaN,NaN
2,Sitka,AK,"2,870.2\n","7,434","1,904.3\n","4,932","4,774.5\n","12,366","8,458\n"
3,Juneau,AK,"2,702.9\n","7,000",555.1\n,"1,438","3,258.0\n","8,438","32,255\n"
4,Wrangell,AK,"2,556.1\n","6,620",915.0\n,"2,370","3,471.1\n","8,990","2,127\n"

In [ ]:
df.columns = df.iloc[0]
df = df.drop(index = range(2))
df.head()

In [ ]:
df = df.iloc[:, [True, True, True, False, True, False, True, False, True]]

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
from re import sub 
def remove(string):
    '''
    Removes everything inside [], a whitespace before that and *'s.
    '''
    if isinstance(string, str):
        string = sub(r'\s*\[.*\]\**|\n|,|\*', '', string)
        # \s means every whitespace (incl. space and newline) followed by any text between square brackets and an trailing * OR just \n OR just comma,
        # * means zero or more occurences, . any character
        # this aims to remove the [a]* after Tribune and the /n in the columns
    return string

In [ ]:
df.columns = [remove(i) for i in df.columns] # remove from table columns
df = df.map(remove) #remove from all rows
df.head()

In [ ]:
df

In [ ]:
for col in df.columns[3:]: #only those cols with vals
    df[col] = df[col].astype(float)

In [ ]:
df.head()

In [ ]:
df.dtypes

### Summary 

- HTML pages are set up like a filesystem
- use `lxml` to parse them in Python
- navigate through HTML via xpath or css