##### STA 220 Data & Web Technologies for Data Analysis

# Lecture 10 - 02/05/26, Scraping

### Announcements
- First homework assignment due tomorrow (02/06/26)
- For the task 1b): Please use the condition 'SUM(GS) IS NULL' and not 'SUM(GS) = 0'
- For the task 3b): Please define the win/loss ratio as __1.0__*total_wins/total_losses

### Today's topics
 - Web Scraping: 
     - Tornado Watch
     - WhereTheISS

### Ressources
 - [WhereTheISS](wheretheiss.at)
 - [Tornado Watch](https://www.tornadohq.com/)

## SUMMARY OF THE 9TH LECTURE

### `pd.read_html'

Use `pd.read_html` whenever you want to read a table from a webpage. It is by far the most convenient way to do so.

Always provide your User-Agent and slow down your requests!

In [8]:
# Example
import pandas as pd

headers = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'
}

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area', storage_options=headers)

In [9]:
tables[1] # et voila!

            City  ST Land area       Water area         Total area         \
            City  ST     (mi2) (km2)      (mi2)   (km2)      (mi2)  (km2)
0          Sitka  AK    2870.2  7434     1904.3  4932.0     4774.5  12366
1         Juneau  AK    2702.9  7000      555.1  1438.0     3258.0   8438
2       Wrangell  AK    2556.1  6620      915.0  2370.0     3471.1   8990
3      Anchorage  AK    1706.8  4421      237.7   616.0     1944.5   5036
4    Tribune[a]*  KS     778.2  2016        0.0     0.0      778.2   2016
..           ...  ..       ...   ...        ...     ...        ...    ...
145       Toledo  OH      80.5   208        3.3     8.5       83.8    217
146    Jonesboro  AR      80.2   208        0.6     1.6       80.7    209
147      El Reno  OK      79.6   206        0.6     1.6       80.2    208
148    Ellsworth  ME      79.3   205       14.6    38.0       93.9    243
149      Caribou  ME      79.3   205        0.8     2.1       80.1    207

    Population (2020)
    Population (2020)
0                8458
1               32255
2                2127
3              291247
4                1182
..                ...
145            270871
146             78576
147             16989
148              8399
149              7396

[150 rows x 9 columns]

### Scrape manually (XPath/BS4)

In [3]:
import requests
import lxml.html as lx
import requests_cache
import time
from re import sub
session = requests_cache.CachedSession('../output/lecture9')

We want to create this seasonality chart from [here](https://foodwise.org/eat-seasonally/seasonality-charts/seasonality-chart-vegetables/).

For this, we need to take two steps:
- Get all vegetables listed on the page
- For each product, get the months where the product is 'in Season'

#### FIRST STEP

In [10]:
def get_products(page):
    time.sleep(0.5)
    url = 'https://foodwise.org/eat-seasonally/seasonality-charts/'
    response = session.get(url, headers = headers, params = {
        '_food_type': 'vegetable',
        '_paged': page
    })
    response.raise_for_status()
    html = lx.fromstring(response.text) # Parse the HTML
    return(html.xpath('//a[@class="card-image-title__outer-link"]/@href'))

In [11]:
all_veggies = [el for p in range(1,5) for el in get_products(p)]

In [6]:
all_veggies

['https://foodwise.org/foods/artichokes/',
 'https://foodwise.org/foods/arugula/',
 'https://foodwise.org/foods/asparagus/',
 'https://foodwise.org/foods/beets/',
 'https://foodwise.org/foods/bitter-melon/',
 'https://foodwise.org/foods/bok-choy/',
 'https://foodwise.org/foods/broccoli/',
 'https://foodwise.org/foods/broccoli-rabe/',
 'https://foodwise.org/foods/brussels-sprouts/',
 'https://foodwise.org/foods/burdock/',
 'https://foodwise.org/foods/cabbage/',
 'https://foodwise.org/foods/cactus-pads/',
 'https://foodwise.org/foods/cardoons/',
 'https://foodwise.org/foods/carrots/',
 'https://foodwise.org/foods/cauliflower/',
 'https://foodwise.org/foods/celeriac/',
 'https://foodwise.org/foods/celery/',
 'https://foodwise.org/foods/celtuce/',
 'https://foodwise.org/foods/chard/',
 'https://foodwise.org/foods/chickweed/',
 'https://foodwise.org/foods/chicory/',
 'https://foodwise.org/foods/collard-greens/',
 'https://foodwise.org/foods/corn/',
 'https://foodwise.org/foods/cress/',
 'https://foodwise.org/foods/cresta-di-gallo/',
 'https://foodwise.org/foods/cucumbers/',
 'https://foodwise.org/foods/dandelion-greens/',
 'https://foodwise.org/foods/eggplant/',
 'https://foodwise.org/foods/endive/',
 'https://foodwise.org/foods/fava-beans/',
 'https://foodwise.org/foods/fava-greens/',
 'https://foodwise.org/foods/fennel/',
 'https://foodwise.org/foods/garlic/',
 'https://foodwise.org/foods/ginger-root/',
 'https://foodwise.org/foods/green-beans/',
 'https://foodwise.org/foods/herbs/',
 'https://foodwise.org/foods/horseradish/',
 'https://foodwise.org/foods/jicama/',
 'https://foodwise.org/foods/kale/',
 'https://foodwise.org/foods/kohlrabi/',
 'https://foodwise.org/foods/komatsuna/',
 'https://foodwise.org/foods/lambsquarters/',
 'https://foodwise.org/foods/leeks/',
 'https://foodwise.org/foods/lettuce/',
 'https://foodwise.org/foods/mushrooms/',
 'https://foodwise.org/foods/mustard-greens/',
 'https://foodwise.org/foods/nettles/',
 'https://foodwise.org/foods/okra/',
 'https://foodwise.org/foods/onions/',
 'https://foodwise.org/foods/orach/',
 'https://foodwise.org/foods/parsnips/',
 'https://foodwise.org/foods/pea-shoots/',
 'https://foodwise.org/foods/peas/',
 'https://foodwise.org/foods/peppers-chile/',
 'https://foodwise.org/foods/peppers-sweet/',
 'https://foodwise.org/foods/potatoes/',
 'https://foodwise.org/foods/purslane/',
 'https://foodwise.org/foods/radishes/',
 'https://foodwise.org/foods/romanesco/',
 'https://foodwise.org/foods/rutabagas/',
 'https://foodwise.org/foods/salsify/',
 'https://foodwise.org/foods/scallions/',
 'https://foodwise.org/foods/shallots/',
 'https://foodwise.org/foods/shelling-beans/',
 'https://foodwise.org/foods/spinach/',
 'https://foodwise.org/foods/sprouts/',
 'https://foodwise.org/foods/squash-summer/',
 'https://foodwise.org/foods/squash-winter/',
 'https://foodwise.org/foods/sunchokes/',
 'https://foodwise.org/foods/sweet-potatoes/',
 'https://foodwise.org/foods/taro-root/',
 'https://foodwise.org/foods/tatsoi/',
 'https://foodwise.org/foods/tomatillos/',
 'https://foodwise.org/foods/tomatoes/',
 'https://foodwise.org/foods/turnips/',
 'https://foodwise.org/foods/yacon/']

##### SECOND STEP

In [12]:
def get_months(produce_link): 
    time.sleep(0.05)
    response = session.get(produce_link, headers = headers)
    try: response.raise_for_status()
    except requests.HTTPError:
        return [None, []] 
    else:
        html = lx.fromstring(response.text)
        try: 
            string = html.xpath('//section[@class="sidebar__section"][h2[contains(text(), "In Season")]]/text()')[1]
        except:
            return [None, []] 
        else:
            month = sub(r'(In Season)|\W', ' ', string).split() 
            name = html.xpath("//h1/text()")[0]
            return [name, month]

In [13]:
seasonality_info = [get_months(url) for url in all_veggies]

In [14]:
seasonality_info

[['Artichokes',
  ['March',
   'April',
   'May',
   'June',
   'September',
   'October',
   'November',
   'December']],
 ['Arugula',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Asparagus', ['February', 'March', 'April', 'May', 'June']],
 ['Beets',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Bitter melon',
  ['June', 'July', 'August', 'September', 'October', 'November']],
 ['Bok choy',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Broccoli',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Broccoli rabe',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'September',
   'October',
   'November',
   'December']],
 ['Brussels sprouts',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'September',
   'October',
   'November',
   'December']],
 ['Burdock',
  ['July', 'August', 'September', 'October', 'November', 'December']],
 ['Cabbage',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Cactus pads', ['May', 'June', 'July', 'August', 'September', 'October']],
 ['Cardoons',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'November',
   'December']],
 ['Carrots',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Cauliflower',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Celeriac',
  ['April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Celery',
  ['April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 [None, []],
 ['Chard',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 [None, []],
 ['Chicory',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Collard greens',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Corn', ['June', 'July', 'August', 'September', 'October']],
 ['Cress',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 [None, []],
 ['Cucumbers', ['June', 'July', 'August', 'September', 'October', 'November']],
 ['Dandelion greens', ['January', 'February', 'March', 'April', 'May']],
 ['Eggplant', ['June', 'July', 'August', 'September', 'October']],
 ['Endive',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Fava beans', ['March', 'April', 'May', 'June', 'July']],
 ['Fava greens', ['January', 'February', 'March', 'April', 'May']],
 ['Fennel',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Garlic',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Ginger root', ['August', 'September', 'October', 'November']],
 ['Green beans', ['June', 'July', 'August', 'September']],
 ['Herbs',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Horseradish',
  ['February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November']],
 ['Jicama', ['October', 'November', 'December']],
 ['Kale',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Kohlrabi',
  ['January', 'February', 'March', 'April', 'November', 'December']],
 [None, []],
 ['Lambsquarters',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Leeks',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Lettuce',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Mushrooms',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Mustard greens',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Nettles', ['January', 'February', 'March', 'April', 'May', 'June', 'July']],
 ['Okra', ['June', 'July', 'August', 'September', 'October', 'November']],
 ['Onions',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Orach',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Parsnips',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'October',
   'November',
   'December']],
 ['Pea shoots', ['January', 'February', 'March', 'April', 'May']],
 ['Peas',
  ['April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November']],
 ['Peppers, chile',
  ['July', 'August', 'September', 'October', 'November', 'December']],
 ['Peppers, sweet',
  ['May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Potatoes', ['June', 'July', 'August']],
 ['Purslane',
  ['April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November']],
 ['Radishes',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Romanesco',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Rutabagas',
  ['January',
   'February',
   'March',
   'April',
   'October',
   'November',
   'December']],
 ['Salsify', ['September', 'October', 'November', 'December']],
 ['Scallions',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Shallots', ['May', 'June', 'July']],
 ['Shelling beans', ['August', 'September', 'October']],
 ['Spinach',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Sprouts',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Squash, summer', ['June', 'July', 'August', 'September', 'October']],
 ['Squash, winter', ['October', 'November', 'December']],
 ['Sunchokes',
  ['January',
   'February',
   'March',
   'April',
   'September',
   'October',
   'November',
   'December']],
 ['Sweet potatoes', ['September', 'October', 'November', 'December']],
 ['Taro root',
  ['January',
   'February',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Tatsoi',
  ['January',
   'February',
   'March',
   'April',
   'October',
   'November',
   'December']],
 ['Tomatillos',
  ['June', 'July', 'August', 'September', 'October', 'November']],
 ['Tomatoes', ['June', 'July', 'August', 'September', 'October']],
 ['Turnips',
  ['January',
   'February',
   'March',
   'April',
   'May',
   'June',
   'July',
   'August',
   'September',
   'October',
   'November',
   'December']],
 ['Yacon', ['November', 'December']]]

### END OF SUMMARY LECTURE 8

#### How to combine everything?

In [15]:
year = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 
        'October', 'November', 'December']

In [16]:
month = get_months('https://foodwise.org/foods/artichokes/')

In [17]:
month

['Artichokes',
 ['March',
  'April',
  'May',
  'June',
  'September',
  'October',
  'November',
  'December']]

In [18]:
[item in month for item in year]

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [19]:
def assemble_row(produce_link): 
    name, months = get_months(produce_link)
    months = [item in months for item in year]
    months.insert(0, name)
    return months

In [20]:
assemble_row('https://foodwise.org/foods/artichokes/')

['Artichokes',
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True]

In [21]:
data = [assemble_row(i) for i in all_veggies] 
data

[['Artichokes',
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Arugula',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Asparagus',
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Beets',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Bitter melon',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Bok choy',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Broccoli',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Broccoli rabe',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Brussels sprouts',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Burdock',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cabbage',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cactus pads',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Cardoons',
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True],
 ['Carrots',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Cauliflower',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celeriac',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Celery',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chard',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Chicory',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Collard greens',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Corn',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Cress',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Cucumbers',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Dandelion greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Eggplant',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Endive',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Fava beans',
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Fava greens',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Fennel',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Garlic',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Ginger root',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False],
 ['Green beans',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False],
 ['Herbs',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Horseradish',
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Jicama',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Kale',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Kohlrabi',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True],
 [None,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Lambsquarters',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Leeks',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Lettuce',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Mushrooms',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Mustard greens',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Nettles',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Okra',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Onions',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Orach',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Parsnips',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Pea shoots',
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['Peas',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Peppers, chile',
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Peppers, sweet',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Potatoes',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False],
 ['Purslane',
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Radishes',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Romanesco',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Rutabagas',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Salsify',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Scallions',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Shallots',
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False],
 ['Shelling beans',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False],
 ['Spinach',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Sprouts',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Squash, summer',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Squash, winter',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Sunchokes',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Sweet potatoes',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True],
 ['Taro root',
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True],
 ['Tatsoi',
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True],
 ['Tomatillos',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  False],
 ['Tomatoes',
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False],
 ['Turnips',
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 ['Yacon',
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True]]

In [23]:
df = pd.DataFrame(data)
df.shape

(76, 13)

In [24]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Artichokes,False,False,True,True,True,True,False,False,True,True,True,True
1,Arugula,True,True,True,True,True,True,True,True,True,True,True,True
2,Asparagus,False,True,True,True,True,True,False,False,False,False,False,False
3,Beets,True,True,True,True,True,True,True,True,True,True,True,True
4,Bitter melon,False,False,False,False,False,True,True,True,True,True,True,False

In [25]:
columnames = year.copy()
columnames.insert(0, 'Produce')
df.columns = columnames

In [26]:
df.head()

,Produce,January,February,March,April,May,June,July,August,September,October,November,December
0,Artichokes,False,False,True,True,True,True,False,False,True,True,True,True
1,Arugula,True,True,True,True,True,True,True,True,True,True,True,True
2,Asparagus,False,True,True,True,True,True,False,False,False,False,False,False
3,Beets,True,True,True,True,True,True,True,True,True,True,True,True
4,Bitter melon,False,False,False,False,False,True,True,True,True,True,True,False

## Tornado Watch 

We are interested in scraping and plotting the locations of all tornado warnings in the last 48 hours. 

See the link <a href="https://www.tornadohq.com/">here<a>.

In [4]:
import requests
import lxml.html as lx
import time
import pandas as pd

In [5]:
session2 = requests_cache.CachedSession('../output/lecture9b')

In [6]:
result = session2.get('https://www.tornadohq.com/')
result.raise_for_status

In [7]:
html = lx.fromstring(result.text) # Parse the HTML

In [8]:
warnings = html.xpath('//pre')
warnings

[<Element pre at 0x120a25e90>,
 <Element pre at 0x120a4be00>,
 <Element pre at 0x180698050>,
 <Element pre at 0x1804a3890>,
 <Element pre at 0x1804a3750>,
 <Element pre at 0x180500640>,
 <Element pre at 0x1804c71d0>,
 <Element pre at 0x1804c72f0>,
 <Element pre at 0x1804cd590>,
 <Element pre at 0x1804cd480>,
 <Element pre at 0x1804e4850>,
 <Element pre at 0x1804e5750>,
 <Element pre at 0x1804bb6b0>,
 <Element pre at 0x1804f92b0>,
 <Element pre at 0x1804f8c90>,
 <Element pre at 0x120a43520>,
 <Element pre at 0x120a43ee0>,
 <Element pre at 0x1209d6690>,
 <Element pre at 0x1209d6750>,
 <Element pre at 0x18058dff0>]

In [9]:
len(warnings)

20

In [ ]:
#for each of the Warnings we want to access the text of the warning
warning = warnings[0].text
warning

'####018001486####\nWFUS54 KHGX 032155\nTORHGX\nTXC291-032215-\n/O.NEW.KHGX.TO.W.0004.260203T2155Z-260203T2215Z/\n\nBULLETIN - EAS ACTIVATION REQUESTED\nTornado Warning\nNational Weather Service Houston/Galveston TX\n355 PM CST Tue Feb 3 2026\n\nThe National Weather Service in League City has issued a\n\n* Tornado Warning for...\n  Central Liberty County in southeastern Texas...\n\n* Until 415 PM CST.\n\n* At 354 PM CST, a severe thunderstorm capable of producing a tornado\n  was located 10 miles northeast of Plum Grove, or 10 miles southeast\n  of Cleveland, moving east at 20 mph.\n\n  HAZARD...Tornado.\n\n  SOURCE...Radar indicated rotation.\n\n  IMPACT...Flying debris will be dangerous to those caught without \n           shelter. Mobile homes will be damaged or destroyed. \n           Damage to roofs, windows, and vehicles will occur.  Tree \n           damage is likely.\n\n* This tornadic thunderstorm will remain over mainly rural areas of\n  central Liberty County.\n\nPRECAUTIONARY/PREPAREDNESS ACTIONS...\n\nTAKE COVER NOW! Move to a basement or an interior room on the lowest\nfloor of a sturdy building. Avoid windows. If you are outdoors, in a\nmobile home, or in a vehicle, move to the closest substantial shelter\nand protect yourself from flying debris.\n\n&&\n\nLAT...LON 3023 9500 3030 9500 3035 9480 3019 9476\nTIME...MOT...LOC 2154Z 262DEG 15KT 3026 9493 \n\nTORNADO...RADAR INDICATED\nMAX HAIL SIZE...<.75 IN\n\n$$\n\nJM'

In [11]:
for w in warnings:
    print(w.text)
    print("\n\n-----THIS IS A NEW WARNING-----\n\n")

####018001486####
WFUS54 KHGX 032155
TORHGX
TXC291-032215-
/O.NEW.KHGX.TO.W.0004.260203T2155Z-260203T2215Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Houston/Galveston TX
355 PM CST Tue Feb 3 2026

The National Weather Service in League City has issued a

* Tornado Warning for...
  Central Liberty County in southeastern Texas...

* Until 415 PM CST.

* At 354 PM CST, a severe thunderstorm capable of producing a tornado
  was located 10 miles northeast of Plum Grove, or 10 miles southeast
  of Cleveland, moving east at 20 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  central Liberty County.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3023 9500 3030 9500 3035 9480 3019 9476
TIME...MOT...LOC 2154Z 262DEG 15KT 3026 9493

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

JM


-----THIS IS A NEW WARNING-----


####018001456####
WFUS54 KHGX 032148
TORHGX
TXC291-032200-
/O.NEW.KHGX.TO.W.0003.260203T2148Z-260203T2200Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Houston/Galveston TX
348 PM CST Tue Feb 3 2026

The National Weather Service in League City has issued a

* Tornado Warning for...
  West central Liberty County in southeastern Texas...

* Until 400 PM CST.

* At 344 PM CST, a severe thunderstorm capable of producing a tornado
  was located 7 miles southeast of Cleveland, moving east at 20 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  west central Liberty County.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3024 9503 3030 9505 3035 9483 3023 9479
TIME...MOT...LOC 2144Z 256DEG 17KT 3027 9500

TORNADO...RADAR INDICATED
MAX HAIL SIZE...0.00 IN

$$

Self


-----THIS IS A NEW WARNING-----


####018001440####
WFUS54 KHGX 032144
TORHGX
TXC291-032215-
/O.NEW.KHGX.TO.W.0002.260203T2144Z-260203T2215Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Houston/Galveston TX
344 PM CST Tue Feb 3 2026

The National Weather Service in League City has issued a

* Tornado Warning for...
  West central Liberty County in southeastern Texas...

* Until 415 PM CST.

* At 341 PM CST, a severe thunderstorm capable of producing a tornado
  was located near Cleveland, moving east at 20 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  west central Liberty County.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3024 9504 3030 9505 3031 9497 3024 9495
TIME...MOT...LOC 2141Z 248DEG 19KT 3028 9501

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

Self


-----THIS IS A NEW WARNING-----


####018001464####
WFUS54 KHGX 032132
TORHGX
TXC291-032200-
/O.NEW.KHGX.TO.W.0001.260203T2132Z-260203T2200Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Houston/Galveston TX
332 PM CST Tue Feb 3 2026

The National Weather Service in League City has issued a

* Tornado Warning for...
  West central Liberty County in southeastern Texas...

* Until 400 PM CST.

* At 332 PM CST, a severe thunderstorm capable of producing a tornado
  was located near Plum Grove, or near Cleveland, moving east at 20
  mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  west central Liberty County.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3023 9510 3027 9512 3033 9498 3024 9495
TIME...MOT...LOC 2132Z 249DEG 19KT 3026 9506

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

Self


-----THIS IS A NEW WARNING-----


####018001722####
WFUS52 KTAE 252043
TORTAE
FLC005-133-252115-
/O.NEW.KTAE.TO.W.0009.260125T2043Z-260125T2115Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
243 PM CST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Northeastern Bay County in the Panhandle of Florida...
  Southeastern Washington County in the Panhandle of Florida...

* Until 315 PM CST.

* At 243 PM CST, a severe thunderstorm capable of producing a tornado
  was located 12 miles northwest of Lynn Haven, moving east at 30
  mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  northeastern Bay and southeastern Washington Counties, including
  the following locations... Gainer Spring, Nixon, Bennett,
  Youngstown, Cairo, Fountain, Porter Lake, Singer Road, Saunders,
  and Camp Flowers.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3049 8577 3051 8539 3025 8539 3038 8578
TIME...MOT...LOC 2043Z 273DEG 25KT 3040 8573

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018001871####
WFUS52 KTAE 252036
TORTAE
GAC007-099-252100-
/O.NEW.KTAE.TO.W.0008.260125T2036Z-260125T2100Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
336 PM EST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Baker County in southwestern Georgia...
  Northeastern Early County in southwestern Georgia...

* Until 400 PM EST.

* At 336 PM EST, a severe thunderstorm capable of producing a tornado
  was located near Arlington, or 10 miles southwest of Morgan, moving
  east at 45 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic thunderstorm will remain over mainly rural areas of
  Baker and northeastern Early Counties, including the following
  locations... Iveys Mill, Milford, Red Store Crossroads, Damascus,
  Crestview, Douglasville, Old Damascus, Elmodel Wma, Bethany, and
  Patmos.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3144 8444 3144 8419 3136 8420 3136 8422
      3134 8423 3134 8427 3133 8428 3131 8433
      3127 8435 3130 8476 3144 8476 3143 8455
      3144 8454 3143 8453 3144 8451 3143 8449
      3145 8446
TIME...MOT...LOC 2036Z 269DEG 39KT 3140 8467

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018002076####
WFUS52 KTAE 252015
TORTAE
ALC069-GAC099-253-252045-
/O.NEW.KTAE.TO.W.0007.260125T2015Z-260125T2045Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
315 PM EST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Southeastern Houston County in southeastern Alabama...
  Southwestern Early County in southwestern Georgia...
  Northwestern Seminole County in southwestern Georgia...

* Until 345 PM EST/245 PM CST/.

* At 314 PM EST/214 PM CST/, a tornado producing storm was located
  near Ashford, or 8 miles northeast of Cottonwood, moving east at 40
  mph.

  HAZARD...Damaging tornado.

  SOURCE...Radar confirmed tornado.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic storm will be near...
  Donalsonville around 335 PM EST.

Other locations impacted by this tornadic thunderstorm include
Gordon, Saffold, Killarney, Pansey, Crosby, Howards Mill,
Chattahoochee SP, Little Hope, Jakin, and Lucy.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

To repeat, a tornado is on the ground. TAKE COVER NOW! Move to a
basement or an interior room on the lowest floor of a sturdy
building. Avoid windows. If you are outdoors, in a mobile home, or in
a vehicle, move to the closest substantial shelter and protect
yourself from flying debris.

This cluster of thunderstorms is capable of producing tornadoes and
widespread significant wind damage. Do not wait to see or hear the
tornado. For your protection move to an interior room on the lowest
floor of a building.

&&

LAT...LON 3116 8492 3107 8492 3105 8486 3100 8492
      3100 8505 3112 8527 3119 8519
TIME...MOT...LOC 2014Z 289DEG 34KT 3113 8518

TORNADO...OBSERVED
MAX HAIL SIZE...<.75 IN

$$

02-MONTGOMERY


-----THIS IS A NEW WARNING-----


####018001721####
WFUS52 KTAE 252009
TORTAE
GAC099-252045-
/O.NEW.KTAE.TO.W.0006.260125T2009Z-260125T2045Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
309 PM EST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Early County in southwestern Georgia...

* Until 345 PM EST.

* At 309 PM EST, a tornado producing storm was located over Columbia,
  or 12 miles southwest of Blakely, moving east at 40 mph.

  HAZARD...Damaging tornado.

  SOURCE...Radar confirmed tornado.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic storm will be near...
  Blakely around 320 PM EST.

Other locations impacted by this tornadic thunderstorm include Cuba,
Damascus, Early Co A/p, Douglasville, Old Damascus, Hentown, Rock
Hill, Centerville, Hilton, and Rowena.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

To repeat, a tornado is on the ground. TAKE COVER NOW! Move to a
basement or an interior room on the lowest floor of a sturdy
building. Avoid windows. If you are outdoors, in a mobile home, or in
a vehicle, move to the closest substantial shelter and protect
yourself from flying debris.

&&

LAT...LON 3143 8466 3126 8464 3126 8492 3119 8492
      3119 8511 3123 8510 3126 8511 3128 8511
      3130 8509 3137 8509 3139 8508 3144 8479
TIME...MOT...LOC 2009Z 263DEG 36KT 3129 8511

TORNADO...OBSERVED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018001829####
WFUS52 KTAE 252004
TORTAE
GAC099-252030-
/O.NEW.KTAE.TO.W.0005.260125T2004Z-260125T2030Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
304 PM EST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Northern Early County in southwestern Georgia...

* Until 330 PM EST.

* At 304 PM EST, a tornado producing storm was located near Blakely,
  moving east at 50 mph.

  HAZARD...Damaging tornado.

  SOURCE...Radar confirmed tornado.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic storm will be near...
  Blakely around 310 PM EST.
  Arlington around 320 PM EST.

Other locations impacted by this tornadic thunderstorm include
Colomokee, Ferrell Crossroads, Early Co A/p, Douglasville, Old
Damascus, Kolomoki Mounds Sp, Rock Hill, Rowena, and Damascus.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

To repeat, a tornado is on the ground. TAKE COVER NOW! Move to a
basement or an interior room on the lowest floor of a sturdy
building. Avoid windows. If you are outdoors, in a mobile home, or in
a vehicle, move to the closest substantial shelter and protect
yourself from flying debris.

&&

LAT...LON 3149 8503 3149 8500 3150 8494 3150 8482
      3149 8481 3150 8480 3148 8480 3147 8481
      3144 8479 3143 8464 3137 8464 3133 8463
      3130 8464 3131 8509 3137 8509 3143 8507
      3147 8507 3150 8506 3150 8503
TIME...MOT...LOC 2004Z 266DEG 45KT 3141 8504

TORNADO...OBSERVED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018001829####
WFUS52 KTAE 251954
TORTAE
ALC067-069-252030-
/O.NEW.KTAE.TO.W.0004.260125T1954Z-260125T2030Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
154 PM CST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Southern Henry County in southeastern Alabama...
  Northeastern Houston County in southeastern Alabama...

* Until 230 PM CST.

* At 154 PM CST, a tornado producing storm was located over Kinsey,
  or near Headland, moving east at 35 mph.

  HAZARD...Damaging tornado.

  SOURCE...Radar confirmed tornado.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This tornadic storm will be near...
  Webb and Columbia around 200 PM CST.

Other locations impacted by this tornadic thunderstorm include
Barber, Pleasant Plains, Headland Municipal A/P, Sigma, Grandberry
Crossroads, Pearce, Enon, Farley Nuclear Plant, and Smyrna.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

To repeat, a tornado is on the ground. TAKE COVER NOW! Move to a
basement or an interior room on the lowest floor of a sturdy
building. Avoid windows. If you are outdoors, in a mobile home, or in
a vehicle, move to the closest substantial shelter and protect
yourself from flying debris.

&&

LAT...LON 3139 8508 3137 8509 3133 8508 3129 8509
      3128 8511 3126 8511 3123 8510 3121 8510
      3120 8511 3119 8511 3118 8510 3117 8510
      3121 8538 3139 8536
TIME...MOT...LOC 1954Z 275DEG 32KT 3130 8529

TORNADO...OBSERVED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018001819####
WFUS52 KTAE 251952
TORTAE
FLC059-133-252030-
/O.NEW.KTAE.TO.W.0003.260125T1952Z-260125T2030Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
152 PM CST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Southern Holmes County in the Panhandle of Florida...
  Northeastern Washington County in the Panhandle of Florida...

* Until 230 PM CST.

* At 152 PM CST, a severe thunderstorm capable of producing a tornado
  was located 10 miles west of Bonifay, moving east at 40 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This dangerous storm will be near...
  Bonifay around 200 PM CST.
  Chipley around 215 PM CST.

Other locations impacted by this tornadic thunderstorm include Brock
Crossroad, Caryville, Chipley Municipal Airport, Orange Hill, Holmes
County Airport, Westville, Whitehead Crossroads, Bradford,
Cerrogordo, and Gritney.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3084 8593 3088 8558 3086 8560 3083 8560
      3083 8549 3078 8548 3078 8543 3062 8543
      3073 8593
TIME...MOT...LOC 1952Z 271DEG 34KT 3078 8587

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018001738####
WFUS52 KTAE 251943
TORTAE
ALC061-069-252015-
/O.NEW.KTAE.TO.W.0002.260125T1943Z-260125T2015Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
143 PM CST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a

* Tornado Warning for...
  Southeastern Geneva County in southeastern Alabama...
  Southeastern Houston County in southeastern Alabama...

* Until 215 PM CST.

* At 143 PM CST, a severe thunderstorm capable of producing a tornado
  was located near Hartford, or 11 miles northwest of Graceville,
  moving east at 50 mph.

  HAZARD...Tornado.

  SOURCE...Radar indicated rotation.

  IMPACT...Flying debris will be dangerous to those caught without
           shelter. Mobile homes will be damaged or destroyed.
           Damage to roofs, windows, and vehicles will occur.  Tree
           damage is likely.

* This dangerous storm will be near...
  Slocomb around 150 PM CST.
  Cottonwood around 205 PM CST.

Other locations impacted by this tornadic thunderstorm include
Fadette, Kellys Crossroads, Pansey, Grangeburg, Garretts Crossroads,
Rehobeth, Lovetown, Wilson Mill, Dundee, and Avon.

PRECAUTIONARY/PREPAREDNESS ACTIONS...

TAKE COVER NOW! Move to a basement or an interior room on the lowest
floor of a sturdy building. Avoid windows. If you are outdoors, in a
mobile home, or in a vehicle, move to the closest substantial shelter
and protect yourself from flying debris.

&&

LAT...LON 3123 8518 3100 8515 3099 8576 3112 8577
TIME...MOT...LOC 1943Z 262DEG 41KT 3104 8568

TORNADO...RADAR INDICATED
MAX HAIL SIZE...<.75 IN

$$

21-HANER


-----THIS IS A NEW WARNING-----


####018002023####
WFUS52 KTAE 251924
TORTAE
FLC059-131-252000-
/O.NEW.KTAE.TO.W.0001.260125T1924Z-260125T2000Z/

BULLETIN - EAS ACTIVATION REQUESTED
Tornado Warning
National Weather Service Tallahassee FL
124 PM CST Sun Jan 25 2026

The National Weather Service in Tallahassee has issued a


Lets match the latitude-longitude pair after `LAT...LON`.

In [12]:
from re import findall

In [13]:
#find all the lat long data
findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning)

<>:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
<>:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
/var/folders/47/h_qs1w2n1p3bbhgw5ddnx8900000gn/T/ipykernel_9960/1093437200.py:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
  findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning)

['3023 9500']

In [14]:
#Split up the lat and long
findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning)[0].split()
# (?<=...)	Positive Lookbehind.
# group consisting of ? optional character, LAT...LON followed by any whitespace. \d: any digit, at least one occurence, whitespace, \d any digit, at least one occurence

<>:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
<>:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
/var/folders/47/h_qs1w2n1p3bbhgw5ddnx8900000gn/T/ipykernel_9960/3093491975.py:2: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
  findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning)[0].split()

['3023', '9500']

Rename the coordinates in readable format & make the table with all the lat long based on warnings

In [15]:
coord_list = [findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning.text)[0].split() for warning in warnings]

<>:1: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
<>:1: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
/var/folders/47/h_qs1w2n1p3bbhgw5ddnx8900000gn/T/ipykernel_9960/1738556140.py:1: SyntaxWarning: "\." is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\."? A raw string is also an option.
  coord_list = [findall('(?<=LAT\.{3}LON\s)(\d+\s\d+)', warning.text)[0].split() for warning in warnings]

In [16]:
coord = pd.DataFrame(coord_list)
coord.columns = ['N', 'W']
coord = coord.map(lambda x: float(x) / 100) # convert location in readable format
coord['W'] = -coord['W'] # longitude to west is negative
coord.head()

       N      W
0  30.23 -95.00
1  30.24 -95.03
2  30.24 -95.04
3  30.23 -95.10
4  30.49 -85.77

In [17]:
coord

        N      W
0   30.23 -95.00
1   30.24 -95.03
2   30.24 -95.04
3   30.23 -95.10
4   30.49 -85.77
5   31.44 -84.44
6   31.16 -84.92
7   31.43 -84.66
8   31.49 -85.03
9   31.39 -85.08
10  30.84 -85.93
11  31.23 -85.18
12  30.85 -86.24
13  33.60 -84.62
14  32.62 -86.58
15  31.90 -88.47
16  31.45 -89.81
17  31.82 -88.94
18  31.14 -90.55
19  31.53 -90.41

In [18]:
import plotly.express as px
import geopandas as gpd

fig = px.scatter_mapbox(coord,
                        lat='N',
                        lon='W',
                        zoom=2,
                        mapbox_style="open-street-map")
fig.show()

/var/folders/47/h_qs1w2n1p3bbhgw5ddnx8900000gn/T/ipykernel_9960/2765489165.py:4: DeprecationWarning: *scatter_mapbox* is deprecated! Use *scatter_map* instead. Learn more at: https://plotly.com/python/mapbox-to-maplibre/
  fig = px.scatter_mapbox(coord,

## Summary 

- Scraping does not necessarily return the desired, make use of error handling 
- Make use of the advantages of devtools to see how the website is structured

## ISS and Satellite Data

Let's have a look on this great website:
https://wheretheiss.at/

It even provides a documented API! Find the documentation [here](https://wheretheiss.at/w/developer)!

#### Introduction

In [19]:
import requests
import requests_cache
import pandas as pd

headers = {
    'User - agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:142.0) Gecko/20100101 Firefox/142.0',
}

session = requests_cache.CachedSession('../output/ISS')

The documentation says it contains a lot of satellites plus the ISS.

So, let's first check all available satellites!

In [20]:
url = 'https://api.wheretheiss.at/v1/satellites'

response = session.get(url, headers = headers)
response.raise_for_status()
print(response.headers)

{'Date': 'Thu, 05 Feb 2026 22:49:42 GMT', 'Server': 'Apache/2.2.22 (Ubuntu)', 'X-Powered-By': 'PHP/5.3.10-1ubuntu3.26', 'X-Rate-Limit-Limit': '350', 'X-Rate-Limit-Remaining': '349', 'X-Rate-Limit-Interval': '5 minutes', 'Access-Control-Allow-Origin': '*', 'X-Apache-Time': 'D=12994', 'Cache-Control': 'max-age=0, no-cache', 'Content-Length': '27', 'Keep-Alive': 'timeout=15, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}

In [21]:
pd.DataFrame(list(response.headers.items()))

                              0                              1
0                          Date  Thu, 05 Feb 2026 22:49:42 GMT
1                        Server         Apache/2.2.22 (Ubuntu)
2                  X-Powered-By         PHP/5.3.10-1ubuntu3.26
3            X-Rate-Limit-Limit                            350
4        X-Rate-Limit-Remaining                            349
5         X-Rate-Limit-Interval                      5 minutes
6   Access-Control-Allow-Origin                              *
7                 X-Apache-Time                        D=12994
8                 Cache-Control            max-age=0, no-cache
9                Content-Length                             27
10                   Keep-Alive            timeout=15, max=100
11                   Connection                     Keep-Alive
12                 Content-Type               application/json

We can get the rate limits from the headers!

Now, lets check out all satellites:

In [22]:
all_satelites = print(response.json())

[{'name': 'iss', 'id': 25544}]

Only the ISS :(

In [23]:
iss_id = str(response.json()[0]['id'])

Get the location of the ISS:

In [24]:
import requests

url = 'https://api.wheretheiss.at/v1/satellites/' + iss_id

response = session.get(url, headers = headers)
response.raise_for_status()
print(response.headers)

{'Date': 'Thu, 05 Feb 2026 22:52:27 GMT', 'Server': 'Apache/2.2.22 (Ubuntu)', 'X-Powered-By': 'PHP/5.3.10-1ubuntu3.26', 'X-Rate-Limit-Limit': '350', 'X-Rate-Limit-Remaining': '348', 'X-Rate-Limit-Interval': '5 minutes', 'Access-Control-Allow-Origin': '*', 'X-Apache-Time': 'D=15112', 'Cache-Control': 'max-age=0, no-cache', 'Content-Length': '313', 'Keep-Alive': 'timeout=15, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}

In [25]:
lim_remaining = response.headers["X-Rate-Limit-Remaining"]
print(f'Remaining requests within the next five minutes: {lim_remaining}')

Remaining requests within the next five minutes: 348

In [26]:
print(response) # shows the status code, not the content itself

<Response [200]>

Note: this is a cached response!

In [27]:
data = response.json()
print(data) # here we go!

{'name': 'iss', 'id': 25544, 'latitude': -3.6578414412322, 'longitude': 107.14576982926, 'altitude': 420.51587678976, 'velocity': 27580.164518173, 'visibility': 'daylight', 'footprint': 4510.0870794149, 'timestamp': 1770331947, 'daynum': 2461077.4530903, 'solar_lat': -15.694843351115, 'solar_lon': 200.38798380604, 'units': 'kilometers'}

In [28]:
import pandas as pd

tbl = pd.DataFrame(data, index=[0])

In [29]:
tbl.head() # looks good

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units
0,iss,25544,-3.657841,107.14577,420.515877,27580.164518,daylight,4510.087079,1770331947,2.461077e+06,-15.694843,200.387984,kilometers

<p>Find the developer rate limits <a href="https://wheretheiss.at/w/developer">here</a>!</p>

<div class="alert alert-danger">
    We MUST NOT send more then one request per second!
</div>

#### Accessing the location

Let's access the ISS' location for a specific timestamp:

In [30]:
import requests
import numpy as np
import pandas as pd
from datetime import datetime, timezone, timedelta
import warnings
import time

In [ ]:
def get_positions(timestamps):
    response = session.get('https://api.wheretheiss.at/v1/satellites/' + iss_id + '/positions?timestamps=' + str(timestamps))
    response.raise_for_status()
    lim_remaining = response.headers["X-Rate-Limit-Remaining"]
    if int(lim_remaining) < 10: # only slow down if we have indeed 
        warnings.warn("Too many requests!")
    time.sleep(1)
    return(response.json())

def is_lit(data):
    status = data["visibility"]
    return(status == "daylight")

#### Insertion: timedate formats
Dealing with different timedate formats

In [31]:
tz = 'America/Los_Angeles'
def dt2epoch(date):
    tme = np.datetime64(date)
    return(tme.astype(np.int64))

print(dt2epoch("now"))
print(dt2epoch("2025-02-05 15:00:00"))
print(dt2epoch("2025-02-05 15:00:00-0800"))

1770332360
1738767600
1738796400

/var/folders/47/h_qs1w2n1p3bbhgw5ddnx8900000gn/T/ipykernel_9960/3763540327.py:3: UserWarning:

no explicit representation of timezones available for np.datetime64

In [32]:
tz = 'America/Los_Angeles'
def epoch2dt(epoch):
    return(pd.to_datetime(epoch, unit = "s", utc=True).tz_convert(tz))

In [37]:
current_time = np.datetime64('now') # np.datetime64('2026-02-05 05:00:00-0800') # np.datetime64('now')
current_time

np.datetime64('2026-02-05T23:00:14')

In [38]:
dt2epoch(current_time)

np.int64(1770332414)

In [39]:
epoch2dt(dt2epoch(current_time))

Timestamp('2026-02-05 15:00:14-0800', tz='America/Los_Angeles')

#### DUSK/DAWN

We consider twilight to be everything 30 minutes before and after dawn or dusk. (This is a very rough proxy!)

https://www.timeanddate.com/sun/usa/davis

In [40]:
current_time

np.datetime64('2026-02-05T23:00:14')

In [41]:
!pip install astral

Collecting astral
  Downloading astral-3.2-py3-none-any.whl.metadata (1.7 kB)
Downloading astral-3.2-py3-none-any.whl (38 kB)
Installing collected packages: astral
Successfully installed astral-3.2

In [59]:
from astral import LocationInfo
from astral.sun import sun
import datetime as dt

tz = 'America/Los_Angeles'
timestamp_dt = epoch2dt(current_time)
davis = LocationInfo("Davis", "California", tz, 38.544907, -121.740517)
s = sun(davis.observer, date=timestamp_dt.date(), tzinfo=davis.timezone)
sun_times = pd.Series([s['dawn'], s['dusk']])

In [60]:
sun_times

0   2026-02-05 06:40:32.142089-08:00
1   2026-02-05 18:01:55.018521-08:00
dtype: datetime64[ns, America/Los_Angeles]

In [61]:
from astral import LocationInfo
from astral.sun import sun
import datetime as dt
import pandas as pd

tz = 'America/Los_Angeles'
davis = LocationInfo("Davis", "California", tz, 38.544907, -121.740517)

today = pd.Timestamp("02-10-2026") # pd.Timestamp("today")
print('Current time: ' + str(today))

twilight = []

for i in range(4):
    day = today + pd.Timedelta(i, "days")
    s = sun(davis.observer, date=day, tzinfo=davis.timezone)

    twilight += [(s['dawn'] - pd.Timedelta(75, "minutes") + pd.Timedelta(sec, "seconds")).timestamp() for sec in range(0,90*60,10)]
    twilight += [(s['dusk'] - pd.Timedelta(15, "minutes") + pd.Timedelta(sec, "seconds")).timestamp() for sec in range(0,90*60,10)]
    print('Dawn for today + ' + str(i) + " day(s): " + str(s['dawn']))
    print('Dusk for today + ' + str(i) + " day(s): " + str(s['dusk']))

Current time: 2026-02-10 00:00:00
Dawn for today + 0 day(s): 2026-02-10 06:35:34.361979-08:00
Dusk for today + 0 day(s): 2026-02-10 18:07:18.645880-08:00
Dawn for today + 1 day(s): 2026-02-11 06:34:30.466978-08:00
Dusk for today + 1 day(s): 2026-02-11 18:08:22.953305-08:00
Dawn for today + 2 day(s): 2026-02-12 06:33:25.195902-08:00
Dusk for today + 2 day(s): 2026-02-12 18:09:27.091324-08:00
Dawn for today + 3 day(s): 2026-02-13 06:32:18.579461-08:00
Dusk for today + 3 day(s): 2026-02-13 18:10:31.049700-08:00

In [62]:
print(twilight[0:10])
print(len(twilight))

[1770729634.361979, 1770729644.361979, 1770729654.361979, 1770729664.361979, 1770729674.361979, 1770729684.361979, 1770729694.361979, 1770729704.361979, 1770729714.361979, 1770729724.361979]
4320

#### GET DATA

In [ ]:
import tqdm, requests
pos = []

url = "https://api.wheretheiss.at/v1/satellites/25544/positions?timestamps="

def get_positions(timestamps):
    response = session.get(url + str(timestamps))
    response.raise_for_status()
    lim_remaining = response.headers["X-Rate-Limit-Remaining"]
    if int(lim_remaining) < 200:
        warnings.warn("Two many requests!")
        time.sleep(1)
    time.sleep(1)
    return(response.json())

for ind in tqdm.tqdm(range(0, len(twilight), 10)):
#    progress = np.round(100*ind/len(epoch_time),1)
    timestamps = twilight[ind:(ind+10)]
    ts_string = ",".join(map(str, timestamps))
    
    pos += get_positions(ts_string)
    # time.sleep(1)

print(pos)

##### SAVE / LOAD DATA

In [ ]:
import json

with open('../output/ISS2.json','w+') as file:
    json.dump(pos, file)

In [64]:
import json

with open('../output/ISS.json','r') as file:
    pos = json.load(file)

##### CONTINUE

In [65]:
data = pd.DataFrame(pos)
data = data[data.visibility == "daylight"]
perc = int(len(data)/len(pos)*100)

print(f'The ISS is in daylight in {perc}% of the cases.')
data = data.drop(['name', 'id', 'velocity', 'visibility', 'daynum', 'solar_lat', 'solar_lon', 'units'], axis = 1).set_index("timestamp")
print(data)

The ISS is in daylight in 63% of the cases.
             latitude  longitude    altitude    footprint
timestamp
1770729634  47.148514 -12.370971  419.242567  4503.607972
1770729644  46.876801 -11.553655  419.216562  4503.475530
1770729654  46.598706 -10.745064  419.190047  4503.340487
1770729664  46.314351  -9.945218  419.163060  4503.203031
1770729674  46.023866  -9.154137  419.135637  4503.063353
...               ...        ...         ...          ...
1771038881 -51.118449 -81.587063  445.844060  4636.676396
1771038891 -51.005386 -80.625991  445.801851  4636.468957
1771038901 -50.883768 -79.669954  445.755278  4636.240059
1771038911 -50.753676 -78.719261  445.704360  4635.989795
1771038921 -50.615194 -77.774221  445.649121  4635.718268

[2761 rows x 4 columns]

In [67]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.1-py3-none-any.whl.metadata (1.6 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.1-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2/2 [geopy]
Successfully installed geographiclib-2.1 geopy-2.4.1

In [68]:
from geopy.distance import geodesic

davis = (38.544907, -121.740517)

def calc_diff(coords):
    point = (coords["latitude"], coords["longitude"])
    return(geodesic(point, davis).km)

dist = data.apply(calc_diff, axis=1)
data["distance"] = dist
near = (dist < data["footprint"])
data["is_near"] = near
data.head()

,latitude,longitude,altitude,footprint,distance,is_near
timestamp,,,,,,
1770729634,47.148514,-12.370971,419.242567,4503.607972,8217.815997,False
1770729644,46.876801,-11.553655,419.216562,4503.475530,8284.817136,False
1770729654,46.598706,-10.745064,419.190047,4503.340487,8351.849125,False
1770729664,46.314351,-9.945218,419.163060,4503.203031,8418.911364,False
1770729674,46.023866,-9.154137,419.135637,4503.063353,8486.002463,False

In [69]:
tbl = data[data["is_near"]]
len(tbl)

218

In [70]:
tbl

,latitude,longitude,altitude,footprint,distance,is_near
timestamp,,,,,,
1770733734,12.221378,-141.849231,418.589794,4500.281995,3531.396415,True
1770733744,12.723232,-141.470709,418.513074,4499.890900,3462.639247,True
1770733754,13.224414,-141.090525,418.439289,4499.514725,3393.895676,True
1770733764,13.724895,-140.708605,418.368421,4499.153386,3325.166508,True
1770733774,14.224645,-140.324875,418.300451,4498.806794,3256.452630,True
...,...,...,...,...,...,...
1770991388,51.766918,-70.762591,419.477993,4504.806772,4170.636477,True
1770991398,51.743246,-69.762705,419.463826,4504.734642,4239.695269,True
1770991408,51.710365,-68.764110,419.448513,4504.656677,4308.753080,True
1770991418,51.668301,-67.767232,419.432060,4504.572906,4377.809341,True
1770991428,51.617084,-66.772481,419.414473,4504.483364,4446.864318,True

##### SKIP THIS

In [71]:
from astral import LocationInfo
from astral.sun import sun
import datetime as dt

def is_twilight(entry):
    tz = 'America/Los_Angeles'
    timestamp_dt = epoch2dt(entry["timestamp"]) # convert timestamp to epoch time
    davis = LocationInfo("Davis", "California", tz, 38.544907, -121.740517)
    s = sun(davis.observer, date=timestamp_dt.date(), tzinfo=davis.timezone) # providing the data of the timestamp
    sun_times = pd.Series([s['dawn'], s['dusk']]) # calculating the timestamp fo the dawn and dusk on this specific day
#    time_diffs = np.abs(timestamp_dt - sun_times)
#    min_diff = time_diffs.min()
    if (timestamp_dt > s['dawn'] - pd.Timedelta(minutes=90) and timestamp_dt < s['dawn'] + pd.Timedelta(minutes=20)) or (
            timestamp_dt > s['dusk'] - pd.Timedelta(minutes=20) and timestamp_dt < s['dusk'] + pd.Timedelta(minutes=90)):
        tw = True
    else:
        tw = False
    return tw
#    return min_diff < pd.Timedelta(minutes=70)

twl = data.reset_index().apply(is_twilight, axis=1)
sum(twl)

2761

In [72]:
data.shape

(2761, 6)

In [73]:
twl

0       True
1       True
2       True
3       True
4       True
        ...
2756    True
2757    True
2758    True
2759    True
2760    True
Length: 2761, dtype: bool

Next, we should calculate the distance between Davis and the projection of the ISS on the earth.

Remember: we don't have to do everything by hand. For most applications, there is a Python package.

In [74]:
!pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.13/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/anaconda3/lib/python3.13/site-packages (from geopy) (2.1)

In [75]:
from geopy.distance import geodesic

davis = (38.544907, -121.740517)

def calc_diff(coords):
    point = (coords["latitude"], coords["longitude"])
    return(geodesic(point, davis).km)

dist = tbl.apply(calc_diff, axis=1)
dist.head()

timestamp
1770733734    3531.396415
1770733744    3462.639247
1770733754    3393.895676
1770733764    3325.166508
1770733774    3256.452630
dtype: float64

##### CONTINUE HERE

In [76]:
tbl.head()

,latitude,longitude,altitude,footprint,distance,is_near
timestamp,,,,,,
1770733734,12.221378,-141.849231,418.589794,4500.281995,3531.396415,True
1770733744,12.723232,-141.470709,418.513074,4499.890900,3462.639247,True
1770733754,13.224414,-141.090525,418.439289,4499.514725,3393.895676,True
1770733764,13.724895,-140.708605,418.368421,4499.153386,3325.166508,True
1770733774,14.224645,-140.324875,418.300451,4498.806794,3256.452630,True

In [77]:
amin = np.argmin(tbl[tbl.is_near]["distance"])
minimizer = tbl[tbl.is_near].iloc[amin]
print(minimizer)

latitude       40.604518
longitude     -123.92691
altitude      418.589926
footprint    4500.282668
distance      295.918532
is_near             True
Name: 1770907205, dtype: object

In [78]:
epoch2dt(minimizer.name)

Timestamp('2026-02-12 06:40:05-0800', tz='America/Los_Angeles')

Compare it with: https://www.astroviewer.net/iss/en/observation.php

#### BEARING

In [79]:
tz = 'America/Los_Angeles'
davis = [38.544907, -121.740517]

import math

def calculate_bearing(point):
    """
    Calculates the bearing in degrees between two geolocations.
    Latitudes and longitudes should be provided in decimal degrees.
    """
    lat1_rad = math.radians(davis[0])
    lon1_rad = math.radians(davis[1])
    lat2_rad = math.radians(point[0])
    lon2_rad = math.radians(point[1])

    delta_lon = lon2_rad - lon1_rad

    y = math.sin(delta_lon) * math.cos(lat2_rad)
    x = math.cos(lat1_rad) * math.sin(lat2_rad) - \
        math.sin(lat1_rad) * math.cos(lat2_rad) * math.cos(delta_lon)

    bearing_rad = math.atan2(y, x)
    bearing_deg = math.degrees(bearing_rad)
    
    # Normalize bearing to be within 0-360 degrees
    bearing_deg = (bearing_deg + 360) % 360
    return bearing_deg

def get_cardinal_direction(point):
    """
    Converts a bearing in degrees (0-360) to a cardinal direction.
    """
    directions = ["N", "NE", "E", "SE", "S", "SW", "W", "NW"]
    # Adjust bearing to align with the center of each 45-degree sector
    # For example, N is centered at 0, NE at 45, E at 90, etc.
    bearing = calculate_bearing(point)
    index = round(bearing / 45) % 8
    return directions[index]

In [80]:
# Example Usage:
point = [38.8977, -77.0365] 

bearing = calculate_bearing(point)
direction = get_cardinal_direction(point)

print(f"The bearing from is {bearing:.2f} degrees.")
print(f"The cardinal direction is: {direction}")

The bearing from is 75.03 degrees.
The cardinal direction is: E

The example point was the White House. It is indeed eastern of Davis, see:
[Google Maps](https://www.google.com/maps/dir/University+of+California,+Shields+Avenue,+Davis,+Kalifornien/38.8977,-77.0365/@38.2386811,-109.987335,5z/data=!3m1!4b1!4m9!4m8!1m5!1m1!1s0x80ead37f7489fa3f:0xecbfbb24087e8334!2m2!1d-121.7617125!2d38.5382322!1m0!3e4?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D)

In [81]:
point = list(minimizer[["latitude", "longitude"]])
print(calculate_bearing(point))
print(get_cardinal_direction(point))

321.40024085472936
NW

Compare it with: https://www.astroviewer.net/iss/en/observation.php!

Waaaaaiiiit. Couldn't we just scrape this site?

In [82]:
import requests
import requests_cache
import pandas as pd
import lxml.html as lx

In [83]:
url = 'https://www.astroviewer.net/iss/en/observation.php'
headers = {
    'User - agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:142.0) Gecko/20100101 Firefox/142.0',
}

In [84]:
response = requests.get(url)
response.raise_for_status()

In [85]:
html = lx.fromstring(response.text)

In [86]:
table = html.xpath('//table[contains(@class, "passDetails")]')[0]

In [87]:
rows = table.xpath('//tbody/tr')

In [88]:
cells = table.xpath('//tbody/tr/td')

In [89]:
[c.text for c in cells]

['...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 None]

In [90]:
[c.text_content() for c in rows[0].xpath('//td')]

['...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 '...',
 'i']

It conains only '...'. Have a look at the HTML content!

And how to choose Davis in the first place?

## --> SELENIUM BROWSER