# STA 220 Assignment 2

Due __February 20__ by __11:59pm__. Submit your work by uploading it to Gradescope through Canvas.

Please rename this file as "H2_Lastname_Firstname_srnr", where srnr are the last four digits of your student's ID number and export it as as pdf-file. 

The objective of this assignment is to solidify your understanding of Scraping and XML.

Instructions:

1. Provide your solutions in new cells following each exercise description. Create as many new cells as necessary. Use code cells for your Python scripts and Markdown cells for explanatory text or answers to non-coding questions.

2. Prioritize code readability. Just as in writing a book, the clarity of each line matters. Adopt the __one-statement-per-line__ rule. If you have a lengthy code statement, consider breaking it into multiple lines for clarity. Note you can use `'''` to start and end strings in Python that are written over multiple lines.

3. To help understand and maintain code, you should add comments to explain your code. Use the hash symbol (#) to start writing a comment.

4. Submit your final work as a __.pdf__ file on __Gradescope__. To convert your .ipynb file into one of these formats, navigate to "File", select "Download as", and then choose either "PDF via LaTeX" or "HTML". If "PDF via LaTeX" does not work for you, export to "HTML", and then use Chrome to print the .html file into PDF. Gradescope only accepts PDF files.

5. This assignment will be graded on your proficiency in programming. Be sure to demonstrate your abilities and submit your own, correct and readable solutions.

## Setting

We will scrape the website [books.toscrape.com](https://books.toscrape.com) and use an XML parser to get the information. You may also use Beautifoulsoup4 instead. The following packages may be useful:

In [1]:
import requests
import lxml.html as lx
import re
import pandas as pd

Furthermore, you want to declare some variables before. Feel free to adjust them (in particular the headers):

In [2]:
base_url = 'https://books.toscrape.com/'
headers = {
    'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:144.0) Gecko/20100101 Firefox/144.0"
}

## Exercise 1 [5 Points]

### 1a) [2 Points]

#### Task

Write a function `get_categories` (no arguments) that returns a dictionary consisting of:
- Keys: the Book categories (such as Travel, History) that can be found on the left side of the page `https://books.toscrape.com/index.html`
- Values: the _relative_ links to the page that lists all books of the category. The relative link should sart with 'catalogue/cateogry' and end with 'index.html'

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
categories = get_categories()
len(categories)

#### Example

In [5]:
pd.DataFrame.from_dict(categories, orient = 'index').head()

                                                                    0
Travel                   catalogue/category/books/travel_2/index.html
Mystery                 catalogue/category/books/mystery_3/index.html
Historical Fiction  catalogue/category/books/historical-fiction_4/...
Sequential Art      catalogue/category/books/sequential-art_5/inde...
Classics               catalogue/category/books/classics_6/index.html

### 1b) [1 Points]

#### Task

Write a function `get_books_from_page` that gets an `url` as argument and returns a list of links to the books found on this page (without clicking on the next button). The `url` shall be one link that refers to a page if you click on one of the categories, e.g., [https://books.toscrape.com/catalogue/category/books/classics_6/index.html](https://books.toscrape.com/catalogue/category/books/classics_6/index.html).
The function should return `None` if the page does not contain any books. (See the examples below.)

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_books_from_page('https://books.toscrape.com/catalogue/category/books/art_25/index.html')

In [ ]:
get_books_from_page('https://books.toscrape.com/catalogue/category/books/art_25/page-2.html') is None

#### Example

In [9]:
get_books_from_page('https://books.toscrape.com/catalogue/category/books/classics_6/index.html')[:5]

['https://books.toscrape.com/catalogue/the-secret-garden_413/index.html',
 'https://books.toscrape.com/catalogue/the-metamorphosis_409/index.html',
 'https://books.toscrape.com/catalogue/the-pilgrims-progress_353/index.html',
 'https://books.toscrape.com/catalogue/the-hound-of-the-baskervilles-sherlock-holmes-5_348/index.html',
 'https://books.toscrape.com/catalogue/little-women-little-women-1_331/index.html']

In [10]:
get_books_from_page('https://books.toscrape.com/catalogue/category/books/classics_6/page-3.html') is None

True

### 1c) [2 Points]

#### Task

Write a function `get_all_books_of_category` that takes a string `category` as argument and does the following:
- Use the dictionary `categories` from 1a) to look up the link to the first page of the category (ending with `.index.html`)
- Call the function `get_books_from_page` for the first page of the category and store the result as a list `book_list`.
- Loop i from 2 to 10:
- Call the function `get_books_from_page` for the i-th page of the category (ending with `.page-i.html`) and add it to `book_list`.
- Stop the loop if the function returns a None. In particular, the loop shall not try to access the page $i$ if already the $(i-1)$-th page returned a None.

Afterwards, the function shall return the list `book_links` that contains urls to all books of this category. (See examples below.)
You may print a statement how many pages could be found for the category.

Note that the return must be a list whose elements are urls (strings). In particular, it must not be a list of lists!

Remark: The difference between 1c) and 1b) is that here we want to get all books of one category while for 1b) we had to get all books that were listed on one of the pages of a category. Thus, 1c) is more or less applying 1b) to all pages of a category.

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_all_books_of_category('Art')

#### Example

In [13]:
fantasy = get_all_books_of_category('Mystery')

In total there are 2 Pages for Mystery

In [14]:
fantasy[:5]

['https://books.toscrape.com/catalogue/sharp-objects_997/index.html',
 'https://books.toscrape.com/catalogue/in-a-dark-dark-wood_963/index.html',
 'https://books.toscrape.com/catalogue/the-past-never-ends_942/index.html',
 'https://books.toscrape.com/catalogue/a-murder-in-time_877/index.html',
 'https://books.toscrape.com/catalogue/the-murder-of-roger-ackroyd-hercule-poirot-4_852/index.html']

## Exercise 2 [5 Points]

Consider the following code snippet:
```python
    response = requests.get(url, headers = headers)
    response.raise_for_status()
    response.encoding = "utf-8"
    html = lx.fromstring(response.text)
```
where url is the url (as a string) to the page of one book, e.g. `url = 'https://books.toscrape.com/catalogue/unicorn-tracks_951/index.html'`.

The following functions shall take the object `html` as described above as argument.

Please run the following code to get full credit:

In [ ]:
url = 'https://books.toscrape.com/catalogue/unicorn-tracks_951/index.html'
response = requests.get(url, headers = headers)
response.raise_for_status()
response.encoding = "utf-8"
html = lx.fromstring(response.text)

### 2a) [1 Points]

#### Task

Write a function `get_rating` that gets the `html` (as described above) as argument and returns the number of stars (as integer) the book's rating has. For this, you may use the following dictionary:

In [ ]:
stars = {"One": 1, "Two": 2, "Three": 3, "Four": 4, "Five": 5}

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_rating(html)

### 2b) [1 Points]

#### Task

Write a function `get_title` that gets the `html` (as described above) as argument and returns the book's title (as string).

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_book_title(html)

### 2c) [1 Points]

#### Task

Write a function `get_stock` that gets the `html` (as described above) as argument and returns how many books are still available (the stock). Note that the return must be an integer, not a string.

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_stock(html)

In [ ]:
type(get_stock(html))

### 2d) [2 Points]

#### Task

The following task is meant to combine the previous work/functions to a meaningful output.

Write a function `get_book_info` that takes an url (as string) to one of the book pages as argument and does the following:
- Uses the requests module and an xml parser to get the xml-parsed html code of the page.
- Gets the title `title` of the book
- Calculates how many books are available (`stock`)
- Gets the rating `rating` of the book
- Uses `pd.read_html` to read the one table of the book page that contains information like UPC/Tax/Number of reviews and stores the result as a pandas DataFrame called `table`.
- Adds the following entries to the DataFrame: 'Rating': `rating`, 'Title': `title` and 'Stock': `stock`.
- Sets the column consisting of the descriptions (like 'Rating', 'Title', 'UPC', etc) as index of the DataFrame.
- Returns the DataFrame.

For this task, you may use the functions you defined in earlier tasks.

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
get_book_info("https://books.toscrape.com/catalogue/salt_731/index.html")

#### Example

In [26]:
get_book_info("https://books.toscrape.com/catalogue/unicorn-tracks_951/index.html")

                                         1
0
UPC                       7ae099f3898e0209
Product Type                         Books
Price (excl. tax)                   £18.78
Price (incl. tax)                   £18.78
Tax                                  £0.00
Availability       In stock (16 available)
Number of reviews                        0
Rating                                   3
Title                       Unicorn Tracks
Stock                                   16

## Exercise 3 [5 Points]

### 3a) [1 Points]

#### Task

Write a function `get_all_books` (no arguments) that does the following:
- Gets all categories using a function from Exercise 1 and does for all categories `c` the following:
- Applies the function `get_all_books_of_category` to `c`.
- For each link to one book `l`, it applies the function `get_book_info` and adds one more line to the returned DataFrame consisting of ['Category': `c`].
- Concatenates all such Dataframes to one single DataFrame.

Afterwards, create a DataFrame `df` that is the return of the function `get_all_books`. Consider using the time module if necessary.

#### Solution START

#### Solution END

### 3b) [1 Points]

#### Task

Use the DataFrame `df` to determine how many books the page `books.toscrape.com` has. Add a new column `Price` to the DataFrame that contains the Price (incl. tax) as float (without the currency).

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
df.head(10)

#### Example

In [30]:
df.head(5)

,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,Rating,Title,Stock,Category,Price
1,a22124811bfa8350,Books,£45.17,£45.17,£0.00,In stock (19 available),0,2,It's Only the Himalayas,19,Travel,45.17
1,ce60436f52c5ee68,Books,£49.43,£49.43,£0.00,In stock (15 available),0,4,Full Moon over Noah’s Ark: An Odyssey to Mount...,15,Travel,49.43
1,f9705c362f070608,Books,£48.87,£48.87,£0.00,In stock (14 available),0,3,See America: A Celebration of Our National Par...,14,Travel,48.87
1,1809259a5a5f1d8d,Books,£36.94,£36.94,£0.00,In stock (8 available),0,2,Vagabonding: An Uncommon Guide to the Art of L...,8,Travel,36.94
1,a94350ee74deaa07,Books,£37.33,£37.33,£0.00,In stock (7 available),0,3,Under the Tuscan Sun,7,Travel,37.33

### 3c) [3 Points]

#### Task

Group the DataFrame `df` of the last task by category and and do the following:
- Provide a pandas Series `books_per_category` that lists all categories (as keys) and the number of books of this category (as value).
- Provide a DataFrame `avg_price_per_category` that reports the average book price per category.
- Provide another DataFrame `books_to_order` that contains the $20$ most expensive books whose
  1. stock is less than $10$ AND
  2. rating is at least three stars

#### Solution START

#### Solution END

Please run the following code to get full credit:

In [ ]:
avg_price_per_category

In [ ]:
type(avg_price_per_category)

In [ ]:
books_per_category

In [ ]:
books_to_order.shape

In [ ]:
books_to_order

#### Example

In [37]:
avg_price_per_category.head()

0                  Price
Category
Academic       13.120000
Add a comment  35.796418
Adult Fiction  15.360000
Art            38.520000
Autobiography  37.053333

In [39]:
books_per_category.head()

Category
Academic          1
Add a comment    67
Adult Fiction     1
Art               8
Autobiography     9
Name: UPC, dtype: int64

In [40]:
books_to_order.head()

,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,Rating,Title,Stock,Category,Price
1,9cc207168a03470d,Books,£59.99,£59.99,£0.00,In stock (4 available),0,3,The Perfect Play (Play by Play #1),4,Romance,59.99
1,07e6810fd3236bda,Books,£59.98,£59.98,£0.00,In stock (5 available),0,3,Last One Home (New Beginnings #1),5,Fiction,59.98
1,6478ccb4416e6a5d,Books,£59.92,£59.92,£0.00,In stock (6 available),0,5,The Barefoot Contessa Cookbook,6,Food and Drink,59.92
1,9c4d061c1e2fe6bf,Books,£59.71,£59.71,£0.00,In stock (4 available),0,3,The Bone Hunters (Lexy Vaughan & Steven Macaul...,4,Thriller,59.71
1,60376aa71be66083,Books,£59.45,£59.45,£0.00,In stock (6 available),0,4,The Man Who Mistook His Wife for a Hat and Oth...,6,Nonfiction,59.45